# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_STORE
._*
*.log
.tm_properties
*.orig
*.original~
/nbproject/private/
.idea/
/.project
.ftppass
.env
npm-debug.log
yarn-error.log
/packages/@kws3/ui/tsconfig.*.json
/packages/@kws3/ui/.cache