$kws-timepicker-border-radius: 3px 3px !default;
$kws-timepicker-border: 1px solid $primary !default;
$kws-timepicker-am-pm-color: $primary !default;
.flatpickr-calendar {
  .flatpickr-time {
    border-radius: $kws-timepicker-border-radius;
    border: $kws-timepicker-border !important;
    input,
    .flatpickr-am-pm {
      color: $kws-timepicker-am-pm-color;
    }
  }
}