<Layout
  title="Calendar"
  subtitle="A full page Calendar component"
  {pkg}
>

  <Message>Check <strong>Action Logger</strong> panel for event log</Message>

  <Calendar
    dayComponent={Day}
    monthComponent={Month}
    month_box_min_height="0"
    on:dateChange
    on:dateChosen
    on:dayViewEvent
    on:monthViewEvent
  />


</Layout>


<script>
  import Layout from '../layouts/Layout.html';

  import Day from '../helpers/calendar/DayView.html';
  import Month from '../helpers/calendar/MonthView.html';

  import Calendar from '@kws3/calendar';
  import {Message} from '@kws3/helpers';
  import pkg from '@kws3/calendar/package.json';


  export default {
    components: {
      Layout, Message, Calendar
    },
    data() {
      return {
        pkg,
        Day,
        Month
      };
    },
    oncreate(){
      this.on('monthViewEvent', (e) => {
        e.preventDefault();
        e.stopPropagation();
      })
    }
  };
</script>