<Layout
  title="Checkbox"
  subtitle="Custom checkbox control"
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
  <div class="columns">
    <div class="column is-3">
      <Code>{ `<Checkbox>Label</Checkbox>`}</Code>
      <Checkbox on:change bind:checked {color} {disabled} size="small">Small</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled}>Normal</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="medium">Medium</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="large">Large</Checkbox>
    </div>
    <div class="column is-3">
      <Code>{ `circle={true}`}</Code>
      <Checkbox on:change bind:checked {color} {disabled} size="small" circle={true}>Small</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} circle={true}>Normal</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="medium" circle={true}>Medium</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="large" circle={true}>Large</Checkbox>
  </div>
    <div class="column is-3">
      <Code>{ `inverted={true}`}</Code>
      <Checkbox on:change bind:checked {color} {disabled} size="small" inverted={true}>Small Inverted</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} inverted={true}>Normal Inverted</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="medium" inverted={true}>Medium Inverted</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="large" inverted={true}>Large Inverted</Checkbox>
    </div>
    <div class="column is-3">
      <Code>{ `circle={true} inverted={true}`}</Code>
      <Checkbox on:change bind:checked {color} {disabled} size="small" inverted={true} circle={true}>Small Inverted</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} inverted={true} circle={true}>Normal Inverted</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="medium" inverted={true} circle={true}>Medium Inverted</Checkbox>
      <br/>
      <Checkbox on:change bind:checked {color} {disabled} size="large" inverted={true} circle={true}>Large Inverted</Checkbox>
    </div>
  </div>

  <Code>{ `<Checkbox on:change bind:checked color="${color}" disabled="{${disabled}}" />`}</Code>

  <hr>
  <h2 class="title is-4">Icons in checkbox</h2>
  <p>By default it uses the <code>check</code> icon. But any icon can be sent. Also, an empty value can be sent as an icon, and it will render the tick mark using html.</p>
  <div class="columns">
    <div class="column">
      <Checkbox on:change bind:checked {color} {disabled} icon="">Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="" circle={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="" inverted={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="" inverted={true} circle={true}>Agree</Checkbox>
      <Code>{ `icon=""`}</Code>
    </div>
    <div class="column">
      <Checkbox on:change bind:checked {color} {disabled} icon="angle-double-right">Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="angle-double-right" circle={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="angle-double-right" inverted={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="angle-double-right" inverted={true} circle="{true}">Agree</Checkbox>
      <Code>{ `icon="angle-double-right"`}</Code>
    </div>
    <div class="column">
      <Checkbox on:change bind:checked {color} {disabled} icon="chevron-right">Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="chevron-right" circle={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="chevron-right" inverted={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="chevron-right" inverted={true} circle="{true}">Agree</Checkbox>
      <Code>{ `icon="chevron-right"`}</Code>
    </div>
    <div class="column">
      <Checkbox on:change bind:checked {color} {disabled} icon="arrow-right">Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="arrow-right" circle={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="arrow-right" inverted={true}>Agree</Checkbox>
      <Checkbox on:change bind:checked {color} {disabled} icon="arrow-right" inverted={true} circle="{true}">Agree</Checkbox>
      <Code>{ `icon="arrow-right"`}</Code>
    </div>
  </div>
  <hr>

  <h2 class="title is-4">Usage</h2>
  <p>Import the component:</p>
  <Code lang="js">{ `import { Checkbox } from '@kws3/controls'; `} </Code>
  <p>Import the SCSS:</p>
  <Code lang="css">@import 'path/to/node_modules/@kws3/controls/components/checkbox/styles.scss';</Code>
  <p>SCSS customization variables with default values:</p>
  <Code lang="css">$kws-checkbox-default-check-color: #333 !default;
$kws-checkbox-default-check-color-invert: findColorInvert($kws-checkbox-default-check-color) !default;
$kws-checkbox-default-border-color: #dbdbdb !default;</Code>



</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { Checkbox } from '@kws3/controls';
  import { Message } from '@kws3/helpers';

  import pkg from '@kws3/controls/package.json';

  export default {
    components: {
      Layout, Code, Checkbox, Message
    },
    data() {
      return {
        pkg,
        checked: true
      };
    },
    oncreate(){
    },

    methods: {
    }
  };
</script>