<Layout
  title="ColorPicker"
  subtitle="A ColorPicker component to pick time."
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <div class="columns">
    <div class="column is-4">
      <div class="columns">
        <div class="column">
          <ColorPicker bind:color="color" {mini} {disabled} {readonly}/>
          <hr />
          <div style="width:40px;height:40px;background: #{color};"></div
        </div>
      </div>

    </div>

    <div class="column">
      <Code>{ `<ColorPicker bind:color="color" {mini} {disabled} {readonly} /> ` }</Code>

    </div>
  </div>

  <hr>

  <h2 class="title is-4">Usage</h2>
  <p>Import the component:</p>
  <Code lang="js">import ColorPicker from '@kws3/colorpicker'; </Code>

  <p>Import the SCSS:</p>
  <Code lang="css">@import 'path/to/node_modules/@kws3/colorpicker/styles.scss';</Code>





</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import ColorPicker from '@kws3/colorpicker';
  import { Message } from '@kws3/helpers';
  import pkg from '@kws3/colorpicker/package.json';


  export default {
    components: {
      Layout, Code, ColorPicker
    },
    data() {
      return {
        color: 'ff0000',
        disabled: false,
        readonly: false,
        pkg
      };
    },

    methods: {
    }
  };
</script>