<div class="main">
  <div class="container">

    <Package {pkg} />

    <h1 class="title is-2">ConfirmButton</h1>
    <p>Multi-purpose Button with built-in confirmation.</p>
    <hr>

    <h2 class="title is-4">Example</h2>
    <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
    <div class="columns">
      <div class="column">
        <div class="columns">
          <div class="column">
            <ConfirmButton text="Do It" {color} {size} {icon_only} context="pass" on:do on:done />
            <span class="help">This will succeed.</span>
          </div>
          <div class="column">
            <ConfirmButton text="Do It" {color} {size} {icon_only} context="fail" on:do on:done />
            <span class="help">This will fail.</span>
          </div>
        </div>

        <p>Fires a <code>do</code> event when confirmation is passed.</p>
        <p>Fires a <code>done</code> event after visual state has been reset following an action.</p>

        <Message color="info">
          Also takes a <code>context</code> property. This can let you differentiate between components when a page contains multiple instances of this component.
        </Message>
      </div>
      <div class="column">
        <pre><code>&lt;ConfirmButton
  text="Confirm"
  color="{color}"
  size="{size}"
  icon_only="&#123;{icon_only ? 'true' : 'false'}&#125;"
/&gt;
</code></pre>

        <Message color="primary" style="margin-top:10px">
          <p>In addition to the above options, the component also accepts the following properties:</p>
          <ul>
            <code>icon</code>,
            <code>text</code>,
            <code>doing_icon</code>,
            <code>doing_text</code>,
            <code>done_icon</code>,
            <code>done_text</code>
          </ul>
        </Message>

      </div>
    </div>

    <hr>

    <h2 class="title is-4">Usage Example</h2>
    <pre><code>
  .....
  &lt;ConfirmButton on:do on:done /&gt;
  ....

  &lt;script>
    import &#123; ConfirmButton &#125; from '@kws3/buttons';
    export default &#123;
      ...
      oncreate()&#123;
        this.on('do', (component) => &#123;
          //set visual state to Doing
          component.doing();
          somePromise()
          .then(() => &#123;
            //set visual state to Done
            //it will autmatically revert back to
            //normal state after 3 seconds
            component.done();
          &#125;)
          .catch(() => &#123;
            //set visual state to Error
            //it will autmatically revert back to
            //normal state after 3 seconds
            component.error();
          &#125;)
        &#125;);

        this.on('done', () => &#123;
          //Change things on the page that should
          //happen as a result of the
          //action performed in somePromise()
        &#125;);
      &#125;
      ...
    &#125;
  &lt;/script/&gt;

  </code></pre>
  </div>


</div>


<script>

  import { ConfirmButton } from '@kws3/buttons';
  import { Message } from '@kws3/helpers';

  import pkg from '@kws3/buttons/package.json';
  import Package from './Package.html';

  function somePromise(context){
    return new Promise((fulfil, reject) => {
      setTimeout(() => {
        context == 'pass' ? fulfil() : reject();
      }, 2000);
    })
  }

  export default {
    components: {
      ConfirmButton, Package, Message
    },
    data() {
      return {
        pkg
      };
    },
    oncreate(){
      this.on('do', (component) => {
          //set visual state to Doing
          component.doing();
          let { context } = component.get();
          somePromise(context)
          .then(() => {
            component.done();
          })
          .catch(() => {
            component.error();
          })
        });
    },

    methods: {
    }
  };
</script>