<div class="main">
  <div class="container">
    <h1 class="title is-2">Datepicker</h1>
    <p>A Datepicker component to pick date.</p>
    <hr>

    <h2 class="title is-4">Example</h2>
    <div class="columns">
      <div class="column is-4">
        <div class="columns">
          <div class="column">
            <Datepicker bind:value="new_date" />
          </div>
        </div>

      </div>

      <div class="column">
        <pre><code>&lt;Datepicker bind:value="new_date" /&gt;
</code></pre>

      </div>
    </div>

    <hr>

    <h2 class="title is-4">Usage</h2>
    <Message type="warning">
      <strong>Requires <code>flatpickr</code> version 3.0.6,<br>
      </strong>
      <pre><code>npm install flatpickr --save </code></pre>
    </Message>
    <p>Import the component:</p>
    <pre><code>import Datepicker from '@kws3/datepicker'; </code></pre>

  </div>


</div>


<script>

  import Datepicker from '@kws3/datepicker';
  import { Message } from '@kws3/helpers';


  export default {
    components: {
      Datepicker,
      Message
    },
    data() {
      return {
        new_date: ''
      };
    },

    methods: {
    }
  };
</script>