<Layout
  title="File Upload"
  subtitle="Custom file upload control"
  {pkg}
>

  <div class="columns">
    <div class="column">
      <h2 class="title is-4">Example</h2>
      <FileUpload
        on:file_chosen
        max="1048579"
        allowed="{['png', 'jpg', 'jpeg']}"
        message="Upload new avatar..."
      />
      <br><br>
<Code>{ `<FileUpload
  on:file_chosen
  max="1048579"
  allowed="{['png', 'jpg', 'jpeg']}"
  message="Upload new avatar..."
/>`}</Code>
    </div>

    <div class="column">
      <h2 class="title is-4">Usage</h2>
      <p>Import the component:</p>
      <Code lang="js">{ `import { FileUpload } from '@kws3/controls'; `} </Code>
      <p>Import the SCSS:</p>
      <Code lang="css">@import 'path/to/node_modules/@kws3/controls/components/fileupload/styles';</Code>
    </div>
  </div>

</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { FileUpload } from '@kws3/controls';
  import { Message } from '@kws3/helpers';

  import pkg from '@kws3/controls/package.json';

  export default {
    components: {
      Layout, Code, FileUpload, Message
    },
    data() {
      return {
        pkg,
      };
    },
    oncreate(){
    },

    methods: {
    }
  };
</script>