<div class="main">
  <div class="container">
    <h1 class="title is-2">Icon</h1>
    <p>A Icon component for display FontAwsome icon.</p>
    <hr>
    <div class="columns">
      <div class="column is-6">
        <h2 class="title is-4">Basic example</h2>
        <div>
          <Icon icon="plus" />
          <Icon icon="check" />
          <Icon icon="minus-circle" />
          <Icon icon="save" />
        </div>
        <br>
        <pre><code>&lt;Icon icon="plus"/&gt;
&lt;Icon icon="check"/&gt;
&lt;Icon icon="minus-circle"/&gt;
&lt;Icon icon="save"/&gt;
        </code></pre>



      </div>

      <div class="column">
        <h2 class="title is-4">Usage</h2>
        <p>
          <strong>Requires FontAwesome version &lt;= 4.7.0,<br>
            this can be either loaded from your bundle, or from a CDN
          </strong>
        </p>
        <p>Import the component:</p>
        <pre><code>import &#123; Icon &#125; from '@kws3/helpers'; </code></pre>
      </div>
    </div>

  </div>


</div>


<script>

  import { Icon } from '@kws3/helpers';

  export default {
    components: {
      Icon
    },
    data() {
      return {

      };
    },

    methods: {
    }
  };
</script>