<Layout
  title="Icon"
  subtitle="An Icon component to display supported icons."
  {pkg}
>
  <p>Use <strong>Knobs</strong> to check out all available options on this component</p>

  <h2 class="title is-4 has-text-centered">fontawesome.io</h2>
  <div class="columns">
    <div class="column is-4">
      <div class="columns is-mobile is-centered is-multiline">
        <div class="column is-5 has-text-centered"><Icon icon="check" {size} {color} /></div>
        <div class="column is-5 has-text-centered"><Icon icon="plus" {size} {color} /></div>
        <div class="column is-5 has-text-centered"><Icon icon="minus-circle" {size} {color} /></div>
        <div class="column is-5 has-text-centered"><Icon icon="save" {size} {color} /></div>
      </div>
    </div>
    <div class="column">
      <Code>{ `<Icon icon="check" color="${color}" size="${size}" />
<Icon icon="plus" color="${color}" size="${size}" />
<Icon icon="minus-circle" color="${color}" size="${size}" />
<Icon icon="save" color="${color}" size="${size}" /> ` }</Code>
    </div>
  </div>

  <hr class="is-small" />

  <h2 class="title is-4 has-text-centered">css.gg</h2>

  <div class="columns">
    <div class="column is-4">
      <div class="columns is-mobile is-centered is-multiline">
        <div class="column is-5 has-text-centered"><Icon family="gg" icon="check" {size} {color} /></div>
        <div class="column is-5 has-text-centered"><Icon family="gg" icon="math-plus" {size} {color} /></div>
        <div class="column is-5 has-text-centered"><Icon family="gg" icon="block" {size} {color} /></div>
        <div class="column is-5 has-text-centered"><Icon family="gg" icon="drive" {size} {color} /></div>
      </div>
    </div>
    <div class="column">
      <Code>{ `<Icon family="gg" icon="check" color="${color}" size="${size}" />
<Icon family="gg" icon="math-plus" color="${color}" size="${size}" />
<Icon family="gg" icon="block" color="${color}" size="${size}" />
<Icon family="gg" icon="drive" color="${color}" size="${size}" /> ` }</Code>
    </div>
  </div>

  <hr class="is-small" />

  <Message type="info" style="margin-top:0.5em;">
    <p><small>In addition to the above options, the component also accepts the following properties:</small></p>
    <ul>
      <li><code>icon_class</code> - to add a custom class</li>
      <li><code>fa_class</code> - to add a custom FA class, like <code>fa-spin</code>, <code>fa-rotate-90</code> etc</li>
      <li><code>fa_style</code> - to add custom raw css to the inner fontawesome <code>&lt;i&gt;</code></li>
    </ul>

  </Message>

  <hr>

  <h2 class="title is-4">Usage</h2>
  <Message type="warning">
    <strong>Requires FontAwesome version &lt;= 4.7.0,<br>
      this can be either loaded from your bundle, or from a CDN
    </strong>
    <hr class="is-small" />
    <strong>For GG icons, requires css loading as mentioned in https://css.gg/<br>
      this can be either loaded from your bundle, or from a CDN
    </strong>
  </Message>
  <p>Import the component:</p>
  <Code lang="js">{ `import { Icon } from '@kws3/helpers'; `} </Code>


</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import store from '../store.js';

  import { Icon, Message } from '@kws3/helpers';
  import pkg from '@kws3/helpers/package.json';



  export default {
    components: {
      Layout, Code, Icon, Message
    },
    store: () => store,
    data() {
      return {
        pkg
      };
    },

    methods: {
    }
  };
</script>