<Layout
  title="Loader"
  subtitle="Graphic to display a loading status to users."
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
  <div class="columns">
    <div class="column">
      <Loader {color} {size} {large_loader} {type} />
    </div>
    <div class="column">
      <Code>{ `<Loader
  color="${color}"
  size="${size}"
  type="${type}"
  large_loader="${ large_loader ? 'true' : 'false' }"
/>` }</Code>
      <Message type="info" style="margin-top:0.5em;">
        <ul>
          <li><strong>Note 1:</strong> <small>In addition to the above options, the component also accepts a <code>style</code> property. This lets you add custom css to the component.</small></li>
          <li><strong>Note 2:</strong> <small>When this component is inside a div with class <code>.is-overlay</code>, only the <code>large_loader</code> property is respected, all other properties are ignored.</small></li>
        </ul>

      </Message>
    </div>
  </div>

  <hr>

  <h2 class="title is-4">Usage</h2>
  <p>Import the component:</p>
  <Code lang="js">{ `import { Loader } from '@kws3/helpers'; `} </Code>
  <p>Import the SCSS:</p>
  <Code lang="css">@import 'path/to/node_modules/@kws3/helpers/components/Loader/styles';</Code>
  <p>SCSS customization variables with default values:</p>
  <Code lang="css">$kws-loader-width: 2rem;
$kws-loader-height: 2rem;
$kws-loader-width-large: ($kws-loader-width * 3);
$kws-loader-height-large: ($kws-loader-height * 3);
$kws-loader-color: #ccc;
$kws-loader-overlay-background: rgba(0,0,0,0.15);</Code>



</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { Loader, Message } from '@kws3/helpers';

  import pkg from '@kws3/helpers/package.json';


  export default {
    components: {
      Layout, Code, Loader, Message
    },
    data() {
      return {
        pkg
      };
    },

    methods: {
    }
  };
</script>