<Layout
  title="Masked Input "
  subtitle=""
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <div class="columns">
    <div class="column is-6">
      <label>{masks[selectedMask][0]}</label>
      <MaskedInput
        mask="{masks[selectedMask][1]}"
        {showMask},
        {guide}
        bind:value="USPhone"
      />
      <span>{USPhone}</span>

    </div>
    <div class="column">
      <Code>{ `<MaskedInput
  mask="{${maskString(masks[selectedMask][1])}}"
  showMask={${showMask}}
  guide={${guide}}
  bind:value="USPhone"
/>` }</Code>
    </div>
  </div>

  <div class="columns">
    <hr>
    <div class="column">
      <h2 class="title is-4">Usage</h2>
      <p>Import the component:</p>
      <Code lang="js">{ `import { MaskedInput } from '@kws3/masked-input'; `} </Code>
    </div>
  </div>


</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import pkg from '@kws3/masked-input/package.json';

  import MaskedInput from '@kws3/masked-input';

  function maskString(mask) {
    let displayMask = mask
      .toString()
      .split(',')
      .map((item) => {
        return (item[0] === '/' && item.length > 1) ? item : `'${item}'`
      })
      .join(', ')

      return `[${displayMask}]`
  }

  export default {
    components: {
      Layout, Code, MaskedInput
    },
    helpers:{
      maskString
    },
    data() {
      return {
        pkg,
        USPhone: '',
        date: ',',
        masks: {
          'USPhone': ['US Phone Number', ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]],
          'date': ['Date', [/\d/, /\d/, '/', /\d/, /\d/, '/', /\d/, /\d/, /\d/, /\d/]],
          'creditCard': ['Credit Card', [/\d/, /\d/, /\d/, /\d/, ' ', /\d/, /\d/, /\d/, /\d/, ' ', /\d/, /\d/, /\d/, /\d/, ' ', /\d/, /\d/, /\d/, /\d/]]
        }
      };
    },

    methods: {

    }
  };
</script>