<Layout
  title="Message"
  subtitle="A Message component for showing message."
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
  <div class="columns">
    <div class="column is-6">
      <Message :color>
        <h1>This is a Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </Message>
    </div>
    <div class="column">
      <Code>{ `<Message color='${color}'>
  <h1>This is a Heading</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error.</p>
</Message>`}</Code>
    </div>
  </div>

  <div class="columns">
    <hr>
    <div class="column">
      <h2 class="title is-4">Usage</h2>
      <p>Import the component:</p>
      <Code lang="js">{ `import { Message } from '@kws3/helpers'; `} </Code>
    </div>
  </div>


</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { Message } from '@kws3/helpers';
  import pkg from '@kws3/helpers/package.json';


  export default {
    components: {
      Layout, Code, Message
    },
    data() {
      return {
        pkg
      };
    },

    methods: {
    }
  };
</script>