<Layout
  title="Modal"
  subtitle="Modal components for showing popups."
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <p>There are 2 types of modals, <code>&lt;Modal&gt;</code> and <code>&lt;CardModal&gt;</code></p>
  <p>Use <strong>Knobs</strong> to check out all available options on these components</p>
  <div class="columns">
    <div class="column">
      <div class="has-text-centered">
        <button class="button is-primary" type="button" on:click="refs.modal1.open()">Open Plain Modal</button>
      </div>

      <Modal {size} is_active={modal1} ref:modal1>
        <h1 class="title is-4">This is a Heading</h1>
        <p>Lorem ipsum.</p>
      </Modal>

      <Code>{ `<Modal size="${size}">
  <h1>This is a Heading</h1>
  <p>Lorem ipsum.</p>
</Modal>`}</Code>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <button class="button is-primary" type="button" on:click="refs.modal2.open()">Open Card Modal</button>
      </div>

      <CardModal {size} is_active={modal2} ref:modal2>
        <h1 class="title is-4">This is a Heading</h1>
        <p>Lorem ipsum.</p>
      </CardModal>

      <Code>{ `<CardModal size="${size}">
  <h1>This is a Heading</h1>
  <p>Lorem ipsum.</p>
</CardModal>`}</Code>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="has-text-centered">
        <button class="button is-primary" type="button" on:click="refs.modal3.open()">Card Modal title as property</button>
      </div>

      <CardModal {size} title="Welcome to KWS3 Media" is_active={modal3} ref:modal3>
        <h1 class="title is-4">This is a Heading</h1>
        <p>Lorem ipsum.</p>
      </CardModal>

      <Code>{ `<CardModal size="${size}" title="Welcome to KWS3 Media">
  <h1>This is a Heading</h1>
  <p>Lorem ipsum.</p>
</CardModal>`}</Code>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <button class="button is-primary" type="button" on:click="refs.modal4.open()">Card Modal title as html</button>
      </div>

      <CardModal {size} is_active={modal4} ref:modal4>
        <span slot="title" class="has-text-danger">This is a Heading</span>
        <p>Lorem ipsum.</p>
      </CardModal>

      <Code>{ `<CardModal size="${size}" type="card" title="Welcome to KWS3 Media">
  <span slot="title" class="has-text-danger">This is a Heading</span>
  <p>Lorem ipsum.</p>
</CardModal>`}</Code>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="has-text-centered">
        <button class="button is-primary" type="button" on:click="refs.modal5.open()">Card Modal with No Footer</button>
      </div>

      <CardModal {size} has_footer={false} title="Welcome to KWS3 Media" is_active={modal5} ref:modal5>
        <h1 class="title is-4">This is a Heading</h1>
        <p>Lorem ipsum.</p>
      </CardModal>

      <Code>{ `<CardModal size="${size}" has_footer={false} title="Welcome to KWS3 Media">
  <h1>This is a Heading</h1>
  <p>Lorem ipsum.</p>
</CardModal>`}</Code>

      Other supported properties:
      <Message>
        <ul>
          <li> - <code>closable</code>: <small>Whether component displays a close button</small></li>
          <li> - <code>close_on_click_outside</code>: <small>Whether it can be closed just by clicking outside. Depends on <code>closable</code></li>
          <li> - <code>style</code></li>
          <li> - <code>inner_style</code></li>
          <li> - <code>class</code></li>
          <li> - <code>inner_class</code></li>
          <li> - <code>is_active</code>: <small>Boolean controlling whether modal is shown or not</small></li>
        </ul>
      </Message>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <button class="button is-primary" type="button" on:click="refs.modal6.open()">Card Modal with Custom Footer</button>
      </div>

      <CardModal {size} is_active={modal6} ref:modal6>
        <span slot="title" class="has-text-danger">This is a Heading</span>
        <p>Lorem ipsum.</p>
        <div slot="footer" style="width:100%">
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button" on:click="refs.modal6.close()">Cancel</button>
            </div>
            <div class="control">
              <button class="button is-primary" on:click="refs.modal6.close()">Submit</button>
            </div>
          </div>
        </div>
      </CardModal>

      <Code>{ `<CardModal size="${size}" type="card" title="Welcome to KWS3 Media">
  <span slot="title" class="has-text-danger">This is a Heading</span>
  <p>Lorem ipsum.</p>
  <div slot="footer" style="width:100%">
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <button class="button">Cancel</button>
      </div>
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </div>
  </div>
</CardModal>`}</Code>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      Events Fired:
      <Message>
        <ul>
          <li> - <code>close</code>: <small>When closed via modal close button</small></li>
          <li> - <code>clickOutside</code>: <small>When overlay is clicked outside modal</small> </li>
        </ul>
      </Message>
    </div>
    <div class="column">
      Methods:
      <Message>
        <ul>
          <li> - <code>close()</code>: <small>example: <code>this.refs.my_modal.close()</code></small></li>
          <li> - <code>open()</code>: <small>example: <code>this.refs.my_modal.open()</code></small></li>
        </ul>
      </Message>
    </div>
  </div>

  <div class="columns">
    <hr>
    <div class="column">
      <h2 class="title is-4">Usage</h2>
      <p>Import the component:</p>
      <Code lang="js">{ `import { Modal, CardModal } from '@kws3/helpers'; `} </Code>
      <p>Import the SCSS:</p>
      <Code lang="css">@import 'path/to/node_modules/@kws3/helpers/components/Modal/styles.scss';</Code>
    </div>
  </div>


</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { Modal, CardModal, Message } from '@kws3/helpers';
  import pkg from '@kws3/helpers/package.json';


  export default {
    components: {
      Layout, Code, Modal, CardModal, Message
    },
    data() {
      return {
        pkg,
        size:'',
        modal1: false,
        modal2: false,
        modal3: false,
        modal4: false,
        modal5: false,
        modal6: false
      };
    },

    methods: {
    }
  };
</script>