<div class="main">
  <div class="container">
    <h1 class="title is-2">Notification</h1>
    <p>A Notification component for showing notifications.</p>
    <hr>
    <div class="columns">
      <div class="column is-6">
        <h2 class="title is-4">Basic example</h2>
        <Notification>
          <p>Your have 41 notifications</p>
        </Notification>
        <pre><code>&lt;Notification&gt;
  &lt;p&gt;Your have 41 notifications.&lt;/p&gt;
&lt;/Notification&gt;</code></pre>


        <hr>
        <h2 class="title is-4">Type</h2>
        <Notification type='danger'>
          <p>Your have 41 notifications</p>
        </Notification>
        <pre><code>// type : info (default), primary, success, warning, danger
&lt;Notification type='danger'&gt;
  &lt;p&gt;Your have 41 notifications.&lt;/p&gt;
&lt;/Notification&gt;</code></pre>


        <hr>
        <h2 class="title is-4">Dismissable</h2>
        <Notification dismissable={true}>
          <p>Your have 41 notifications. And you can dismiss this notification.</p>
        </Notification>
        <pre><code>&lt;Notification dismissable=&#123;true&#125;&gt;
  &lt;p&gt;Your have 41 notifications. And you can dismiss this notification.&lt;/p&gt;
&lt;/Notification&gt;</code></pre>


      </div>

      <div class="column">
        <h2 class="title is-4">Usage</h2>
        <p>Import the component:</p>
        <pre><code>import &#123; Notification &#125; from '@kws3/helpers'; </code></pre>
      </div>
    </div>

  </div>


</div>


<script>

  import { Notification } from '@kws3/helpers';

  export default {
    components: {
      Notification
    },
    data() {
      return {

      };
    },

    methods: {
    }
  };
</script>