<Layout
  title="Panel"
  subtitle="A Panel component that allows wrapping elements."
  {pkg}
>

  <h2 class="title is-4">Basic example</h2>
  <div class="columns">
    <div class="column">
      <Panel title="Demo Panel">
        <h1>This is a demo panel</h1>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </Panel>
    </div>
    <div class="column">
      <Code>{ `<Panel title="Demo Panel">
  <h1>This is a demo panel</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</Panel>` }</Code>
    </div>
  </div>
  <hr>
  <h2 class="title is-4">Subtitle</h2>
  <div class="columns">
    <div class="column">
      <Panel title="Demo Panel" subtitle="Panel has subtitle">
        <h1>This is a demo panel</h1>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </Panel>
    </div>
    <div class="column">
      <Code>{ `<Panel title="Demo Panel" subtitle="Panel has subtitle">
  <h1>This is a demo panel</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</Panel>` }</Code>
    </div>
  </div>
  <hr>
  <h2 class="title is-4">Collapsible Panel</h2>
  <div class="columns">
    <div class="column">
      <Panel title="Demo Panel" collapsible={true}>
        <h1>This is a demo panel</h1>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </Panel>
    </div>
    <div class="column">
        <Code>{ `<Panel title="Demo Panel" collapsible={true}>
  <h1>This is a demo panel</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</Panel>` }</Code>
    </div>
  </div>
  <hr>
  <h2 class="title is-4">Toolbar</h2>
  <div class="columns">
    <div class="column">
      <Panel title="Demo Panel" has_toolbar={true}>
        <div slot='toolbar'>
          <span class="tag is-dark">
            id: 123
          </span>
        </div>
        <h1>This is a demo panel</h1>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </Panel>
    </div>
    <div class="column">
      <Code>{ `<Panel title="Demo Panel" has_toolbar={true}
  <div slot='toolbar'>
    <span class="tag is-dark">
      id: 123
    </span>
  </div>
  ...
</Panel>` }</Code>
    </div>
  </div>
  <hr>
  <h2 class="title is-4">Toolbar - Center</h2>
  <div class="columns">
    <div class="column">
      <Panel title="Demo Panel" has_center={true}>
        <div slot='center'>
          <span class="tag is-dark">
            id: 123
          </span>
        </div>
        <h1>This is a demo panel</h1>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </Panel>
    </div>
    <div class="column">
      <Code>{ `<Panel title="Demo Panel" has_center={true}
  <div slot='center'>
    <span class="tag is-dark">
      id: 123
    </span>
  </div>
  ...
</Panel>` }</Code>
    </div>
  </div>
  <hr>
  <div class="columns">
    <div class="column">
      <h2 class="title is-4">Usage</h2>
      <p>Import the component:</p>
      <Code lang="js">{ `import { Panel } from '@kws3/helpers'; `} </Code>
      <p>Import the SCSS:</p>
      <Code lang="css">@import 'path/to/node_modules/@kws3/helpers/components/Panel/styles.scss';</Code>
      <p>SCSS customization variables with default values:</p>
      <Code lang="css">$kws-panel-background: #fff;
$kws-panel-box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1), 0 0 0 0.0625rem rgba(0, 0, 0, 0.1);
$kws-panel-title-color: #000;
$kws-panel-title-weight: 700;
$kws-panel-caret-open-color: #888;
$kws-panel-caret-closed-color: #00a4d8;</Code>
    </div>
  </div>


</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { Panel } from '@kws3/helpers';
  import pkg from '@kws3/helpers/package.json';


  export default {
    components: {
      Layout, Code, Panel
    },
    data() {
      return {
        pkg
      };
    },

    methods: {
    }
  };
</script>