<div class="main">
  <div class="container">
    <div class="columns">
      <div class="column">
        <Panel slot='asdasdsdasdas'>
          <div class="columns">
            <div class="column">
              <h1>This is demo panel</h1>
            </div>
          </div>
        </Panel>
      </div>
    </div>
  </div>
</div>




<style>
  .main {
    margin: 15px;
    max-width: 600;
    line-height: 1.4;
  }
</style>

<script>

  export default {
    components: {
      Panel: './Panel.html'
    },
    data() {
      return {

      };
    },

    methods: {
    }
  };
</script>