<Layout
  title="Sliding Panes"
  subtitle="Sliding panes component for Svelte applications"
  {pkg}
>

  <div class="columns">
    <div class="column is-6">
      <h2 class="title is-4">Basic example</h2>
      <div style="height:100%;width:100%;">
        <SlidingPaneSet style="height:{pane_height}px" >

          <SlidingPane active={true} v_center={true} h_center={true} track_height on:heightChange>
            <div class="buttons">
              <button class="button is-info">Info</button>
              <button class="button is-success">Success</button>
              <button class="button is-warning">Warning</button>
              <button class="button is-danger">Danger</button>
            </div>
          </SlidingPane>

          <SlidingPane active={false} track_height on:heightChange>
            <div class="buttons">
              <button class="button is-info">Info</button>
              <button class="button is-success">Success</button>
              <button class="button is-warning">Warning</button>
              <button class="button is-danger">Danger</button>
            </div>
          </SlidingPane>

          <SlidingPane active={false} track_height on:heightChange>

          </SlidingPane>

        </SlidingPaneSet>
      </div>
      <br><br>


    </div>


  </div>

  <div class="columns">
    <div class="column">
      <Code>{ ` `}</Code>
        <h2 class="title is-4">Usage</h2>
        <p>Import the component:</p>
        <Code lang="js">{ `import {SlidingPane, SlidingPaneSet} from '@kws3/sliding-panes'; `} </Code>
        <p>Import the SCSS:</p>
        <Code lang="css">@import 'path/to/node_modules/@kws3/sliding-panes/styles.scss';</Code>

      </div>
  </div>

</Layout>

<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import {SlidingPane, SlidingPaneSet} from '@kws3/sliding-panes';
  import pkg from '@kws3/sliding-panes/package.json';


  export default {
    components: {
      Layout, Code, SlidingPane, SlidingPaneSet
    },
    data() {
      return {
        pane_height: 225,
        pkg
      };
    },
    oncreate(){
      this.on('heightChange', ({ height }) => {
        this.set({ pane_height: height })
      });
    },
  };
</script>