<Layout
  title="Sliding Panes"
  subtitle="Sliding panes component for Svelte applications"
  {pkg}
>

  <div class="columns">
    <div class="column is-6">
      <h2 class="title is-4">Basic example</h2>
      <SlidingPaneSet style="height:500px">

        <SlidingPane active={true} track_height on:heightChange>

        </SlidingPane>

        <SlidingPane active={false} track_height on:heightChange>

        </SlidingPane>

        <SlidingPane active={false} track_height on:heightChange>

        </SlidingPane>

      </SlidingPaneSet>
      <br><br>


    </div>


  </div>

  <div class="columns">
    <div class="column">
      <Code>{ ` `}</Code>
        <h2 class="title is-4">Usage</h2>
        <p>Import the component:</p>
        <Code lang="js">{ `import {SlidingPane, SlidingPaneSet} from '@kws3/sliding-panes'; `} </Code>
        <p>Import the SCSS:</p>
        <Code lang="css">@import 'path/to/node_modules/@kws3/sliding-panes/styles.scss';</Code>

      </div>
  </div>

</Layout>

<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import {SlidingPane, SlidingPaneSet} from '@kws3/sliding-panes';
  import pkg from '@kws3/sliding-panes/package.json';


  export default {
    components: {
      Layout, Code, SlidingPane, SlidingPaneSet
    },
    data() {
      return {
        brands: [
          {id: 1, name: "LG"},
          {id: 2, name: "Samsung"},
          {id: 3, name: "Xiaomi"},
          {id: 4, name: "Nokia"},
          {id: 5, name: "Oppo"},
          {id: 6, name: "Vivo"},
          {id: 7, name: "Huawei"},
          {id: 8, name: "Sony"},
          {id: 9, name: "HTC"},
          {id: 10, name: "Blackberry"},
          {id: 11, name: "Apple"}
        ],
        selected_brand: '',
        pkg
      };
    }
  };
</script>