<div class="main">
  <div class="container">
    <div class="columns">
      <div class="column">
        <SubmitButton
          :classes
          :icon
          :icon_size
          :text
          :disabled
          tracker={states[state]}
          />
      </div>
    </div>
  </div>
</div>




<style>
  .main {
    margin: 15px;
    max-width: 600;
    line-height: 1.4;
  }
</style>

<script>

  export default {
    components: {
      SubmitButton: '../../components/SubmitButton.html'
    },
    data() {
      return {
        states:{
          default: {
            saving: false,
            saved: false,
            error: false
          },
          error: {
            saving: false,
            saved: false,
            error: true
          },
          saving: {
            saving: true,
            saved: false,
            error: false
          },
          saved: {
            saving: false,
            saved: true,
            error: false
          }
        }
      };
    },

    methods: {
    }
  };
</script>