<!-- <div class="main">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <SubmitButton classes="is-primary" icon="plus" icon_size="small" text="Add User" />
      </div>
      <div class="column is-narrow">
        <SubmitButton classes="is-primary" icon="plus" icon_size="small" text="Add User" disabled={true}/>
      </div>
      <div class="column is-narrow">
        <SubmitButton classes="is-primary" icon="plus" icon_size="small" text="Add User" />
      </div>
      <div class="column is-narrow">
        <SubmitButton classes="is-primary" icon="plus" icon_size="small" text="Add User" />
      </div>
      <div class="column is-narrow">
        <SubmitButton classes="is-primary" icon="plus" icon_size="small" text="Add User" />
      </div>
      <div class="column is-narrow">
        <SubmitButton classes="is-primary" icon="plus" icon_size="small" text="Add User" />
      </div>
    </div>
  </div>
</div> -->


<div class="main">
  <div class="container">
    <div class="columns">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th><SubmitButton /></th>
            <th><SubmitButton  text="Add User" /></th>
            <th><SubmitButton  disabled={true}/></th>
            <th><SubmitButton  tracker={error_state}/></th>
            <th><SubmitButton   tracker={saved_state} /></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>default</code></td>
            <td><code>custom text</code></td>
            <td><code>disabled</code></td>
            <td><code>error_state</code></td>
            <td><code>saved state</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<style>
  .main {
    margin: 15px;
    max-width: 600;
    line-height: 1.4;
  }
</style>

<script>

  export default {
    components: {
      SubmitButton: '../../components/SubmitButton.html'
    },
    data() {
      return {
        error_state:{
          saving: false,
          saved: false,
          error: true
        },
        saved_state: {
          saving: false,
          saved: true,
          error: false
        }
      };
    },

    methods: {
    }
  };
</script>