<Layout
  title="Timepicker"
  subtitle="A Timepicker component to pick time."
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <div class="columns">
    <div class="column is-4">
      <div class="columns">
        <div class="column">
          <p>Pick a time</p>
          <Timepicker bind:value="new_time" />
        </div>
      </div>

    </div>

    <div class="column">
      <Code>{ `<Timepicker bind:value="new_time" /> ` }</Code>

    </div>
  </div>

  <hr>

  <h2 class="title is-4">Usage</h2>
  <p>Import the component:</p>
  <Code lang="js">import Timepicker from '@kws3/timepicker'; </Code>

  <Message color="warning" style="margin-top:1rem">
    <strong>Requires <code>flatpickr</code> SCSS to be loaded first<br>
    </strong>
    <p>Import flatpickr style file to app.scss</p>
    <Code lang="css">@import "path/to/node_modules/flatpickr/dist/flatpickr"; </Code>
  </Message>
  <p>Import the SCSS:</p>
  <Code lang="css">@import 'path/to/node_modules/@kws3/timepicker/styles';</Code>
  <Code lang="css">$kws-timepicker-border-radius: 3px 3px !default;
$kws-timepicker-border: 1px solid $primary !default;
$kws-timepicker-am-pm-color: $primary !default;</Code>




</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import Timepicker from '@kws3/timepicker';
  import { Message } from '@kws3/helpers';
  import pkg from '@kws3/timepicker/package.json';


  export default {
    components: {
      Layout, Code, Timepicker,
      Message
    },
    data() {
      return {
        new_time: '',
        pkg
      };
    },

    methods: {
    }
  };
</script>