<div class="main">
  <div class="container">
    <h1 class="title is-2">Icon</h1>
    <p>A Timepicker component to pick time.</p>
    <hr>

    <h2 class="title is-4">Example</h2>
    <div class="columns">
      <div class="column is-4">
        <div class="columns">
          <div class="column">
            <p>Pick a time</p>
            <Timepicker bind:value="new_time" />
          </div>
        </div>

      </div>

      <div class="column">
        <pre><code>&lt;Timepicker bind:value="new_time" /&gt;
        </code></pre>

      </div>
    </div>

    <hr>

    <h2 class="title is-4">Usage</h2>
    <Message type="warning">
      <strong>Requires <code>flatpickr</code> version 3.0.6,<br>
      </strong>
      <pre><code>npm install flatpickr --save </code></pre>
      <p>Import flatpickr style file to app.scss</p>
      <pre><code>@import "path/to/node_modules/flatpickr/dist/flatpickr"; </code></pre>
    </Message>
    <p>Import the component:</p>
    <pre><code>import Timepicker from '@kws3/timepicker'; </code></pre>
    <p>Import the SCSS:</p>
    <pre><code>@import 'path/to/node_modules/@kws3/timepicker/styles';</code></pre>
    <pre><code>$kws-timepicker-boder-radius: 3px 3px !default;
$kws-timepicker-border: 1px solid $primary !default;
$kws-timepicker-am-pm-color: $primary !default;</code></pre>

  </div>


</div>


<script>

  import Timepicker from '@kws3/timepicker';
  import { Message } from '@kws3/helpers';


  export default {
    components: {
      Timepicker,
      Message
    },
    data() {
      return {
        new_time: ''
      };
    },

    methods: {
    }
  };
</script>