<div class="main">
  <div class="container">
    <h1 class="title is-2">Icon</h1>
    <p>An Icon component to display FontAwesome icons.</p>
    <hr>

    <h2 class="title is-4">Example</h2>
    <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
    <div class="columns">
      <div class="column is-4">
        <div class="columns is-mobile is-centered is-multiline">
          <Timepicker/>
        </div>

      </div>

      <div class="column">
        <pre><code>&lt;Icon icon="check" color="{color}" size="{size}" /&gt;
&lt;Icon icon="plus" color="{color}" size="{size}" /&gt;
&lt;Icon icon="minus-circle" color="{color}" size="{size}" /&gt;
&lt;Icon icon="save" color="{color}" size="{size}" /&gt;</code></pre>

      </div>
    </div>

    <hr>

    <h2 class="title is-4">Usage</h2>

    <p>Import the component:</p>
    <pre><code>import &#123; Icon &#125; from '@kws3/helpers'; </code></pre>

  </div>


</div>


<script>

  import Timepicker from '@kws3/timepicker';

  export default {
    components: {
      Timepicker
    },
    data() {
      return {

      };
    },

    methods: {
    }
  };
</script>