<Layout
  title="ToggleButtons"
  subtitle="Segmented ToggleButtons Buttons"
  {pkg}
>

  <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
  <div class="columns">
    <div class="column">
        <h2 class="title is-5 is-marginless">Normal</h2>
        <ToggleButtons
          bind:value
          {size}
          {active_class}
          {disabled}
          {fullwidth}
          options='{[
            {"name": "Yes", "value": 1},
            {"name": "No", "value": 0},
            {"name": "Maybe", "value": null}
          ]}'
          on:change
        />

        <h2 class="title is-5 is-marginless">With Subtitle</h2>
        <ToggleButtons
          bind:value
          {size}
          {active_class}
          {disabled}
          {fullwidth}
          options='{[
            {"name": "Yes", "value": 1, subtitle: "Affirmative"},
            {"name": "No", "value": 0, subtitle: "Negative"},
            {"name": "Maybe", "value": null, subtitle: "¯\\_(ツ)_/¯"}
          ]}'
          on:change
        />

        <h2 class="title is-5 is-marginless">With Icon</h2>
        <ToggleButtons
          bind:value
          {size}
          {active_class}
          {disabled}
          {fullwidth}
          options='{[
            {"name": "Yes", "value": 1, icon: "check-circle"},
            {"name": "No", "value": 0, icon: "ban"},
            {"name": "Maybe", "value": null, icon: "question"}
          ]}'
          on:change
        />

        <h2 class="title is-5 is-marginless">With Subtitle & Icon</h2>
        <ToggleButtons
          bind:value
          {size}
          {active_class}
          {disabled}
          {fullwidth}
          options='{[
            {"name": "Yes", "value": 1, icon: "check-circle", subtitle: "Affirmative"},
            {"name": "No", "value": 0, icon: "ban", subtitle: "Negative"},
            {"name": "Maybe", "value": null, icon: "question", subtitle: "¯\\_(ツ)_/¯"}
          ]}'
          on:change
        />

    </div>
    <div class="column">
      <Code>{ `<ToggleButtons
  on:change
  bind:value
  size="{${size}}"
  active_class="{${active_class}}"
  disabled="{${disabled}}"
  fullwidth="{${fullwidth}}"
  options='{[
    {"name": "Yes", "value": 1, icon: "check-circle", subtitle: "Affirmative"},
    {"name": "No", "value": 0, icon: "ban", subtitle: "Negative"},
    {"name": "Maybe", "value": null, icon: "question", subtitle: "¯\\_(ツ)_/¯"}
  ]}'
/>`}</Code>

    </div>
  </div>

  <hr>

  <hr>

  <h2 class="title is-4">Usage</h2>
  <p>Import the component:</p>
  <Code lang="js">{ `import { ToggleButtons } from '@kws3/controls'; `} </Code>
  <p>Import the SCSS:</p>
  <Code lang="css">@import 'path/to/node_modules/@kws3/controls/components/togglebuttons/styles';</Code>



</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { ToggleButtons } from '@kws3/controls';
  import { Message } from '@kws3/helpers';

  import pkg from '@kws3/controls/package.json';

  export default {
    components: {
      Layout, Code, ToggleButtons, Message
    },
    data() {
      return {
        pkg,
        value: 2
      };
    },
    oncreate(){
    },

    methods: {
    }
  };
</script>