<Layout
  title="Toggle"
  subtitle="Toggle button with text supports"
  {pkg}
>

  <h2 class="title is-4">Example</h2>
  <p>Use <strong>Knobs</strong> to check out all available options on this component</p>
  <div class="columns">
    <div class="column">
      <Toggle on:change bind:on {color} {disabled} {on_text} {off_text} size="small" />
      <br/><br/>
      <Toggle on:change bind:on {color} {disabled} {on_text} {off_text}/>
      <br/><br/>
      <Toggle on:change bind:on {color} {disabled} {on_text} {off_text} size="medium" />
      <br/><br/>
      <Toggle on:change bind:on {color} {disabled} {on_text} {off_text} size="large" />
    </div>
    <div class="column">
      <Code>{ `<Toggle on:change size="small" color="${color}" on_text="${on_text}" off_text="${off_text}" disabled="{${disabled}}" />
<Toggle on:change color="${color}" on_text="${on_text}" off_text="${off_text}" disabled="{${disabled}}" />
<Toggle on:change size="medium" color="${color}" on_text="${on_text}" off_text="${off_text}" disabled="{${disabled}}" />
<Toggle on:change size="large" color="${color}" on_text="${on_text}" off_text="${off_text}" disabled="{${disabled}}" />`}</Code>

    </div>
  </div>

  <hr>

  <hr>

  <h2 class="title is-4">Usage</h2>
  <p>Import the component:</p>
  <Code lang="js">{ `import { Toggle } from '@kws3/controls'; `} </Code>
  <p>Import the SCSS:</p>
  <Code lang="css">@import 'path/to/node_modules/@kws3/controls/components/toggle/styles.scss';</Code>
  <p>SCSS customization variables with default values:</p>
  <Code lang="css">$kws-toggle-off-bg-color: #fff !default;
$kws-toggle-handle-bg-color: #fff !default;
$kws-toggle-track-bg-color: #333 !default;
$kws-toggle-track-bg-color-invert: findColorInvert($kws-toggle-track-bg-color) !default;
$kws-toggle-border-color: #e6e6e6 !default;</Code>



</Layout>


<script>
  import Layout from '../layouts/Layout.html';
  import Code from '../helpers/Code.html';

  import { Toggle } from '@kws3/controls';
  import { Message } from '@kws3/helpers';

  import pkg from '@kws3/controls/package.json';

  export default {
    components: {
      Layout, Code, Toggle, Message
    },
    data() {
      return {
        pkg,
        on: true
      };
    },
    oncreate(){
    },

    methods: {
    }
  };
</script>