<div class="main has-text-centered">

  <img width="200" src="https://npm.kws3.media/images/logo.png" style="margin:10px 0" alt="logo" />
  <h1 class="title">
    Welcome to UI Elements from KWS3 Media
  </h1>
  <p>Use the navigation panel on the left to browse all the components.<br><br></p>
  <p><em>This is a work in progress, documentation and examples are being added all the time. <br />If you find anything that needs changing, get in touch!</em></p>

</div>

<style>
  .main {
    padding:1rem;
  }
</style>