@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mx;

$background: cv.getVar("background") !default;
$box-shadow: cv.getVar("shadow") !default;
$box-radius: cv.getVar("radius") !default;

.kws-action-sheet-outer {
  display: flex;
  visibility: hidden;
  &.is-active {
    visibility: visible;
  }
  .modal-background {
    transition: all 0.3s;
  }
}
.kws-action-sheet {
  border-radius: $box-radius $box-radius 0 0;
  box-shadow: $box-shadow;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 90%;
  min-height: fit-content;
  max-width: 650px;
  margin: 0 auto;
  background: $background;
  transition: all 0.3s;
  z-index: 50;
  padding: 1.25em 1.5em;
  overflow-x: auto;
}
@include mx.mobile {
  .kws-action-sheet {
    left: 0;
    max-width: 100%;
  }
}
