:root {
  --peninput-height: 250px;
  --peninput-width: 250px;
}
.canvas-wrapper {
  margin: 0 auto;
  height: var(--peninput-height);
  width: var(--peninput-width);
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s $easeOutCustom;
  transform-origin: center center;
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  .canvas-controls {
    position: absolute;
    width: 100%;
    min-height: 2.4rem;
    background: transparentize($grey-light, 0.5);
    padding: 0.25rem;
    margin: 0 auto;
    .control {
      .button {
        &.is-always-rounded {
          border-radius: 1rem !important;
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
  &.expanded {
    z-index: 999;
    position: relative;
    box-shadow: $card-shadow;
    .canvas-controls {
      background: $grey-lighter;
    }
  }
}

.canvas-box {
  position: relative;
  margin: auto auto;
  overflow: hidden;
  img {
    display: block;
  }
  canvas {
    display: block;
    cursor: crosshair;
    box-sizing: border-box;
  }
  &.is-readonly {
    canvas {
      cursor: default;
    }
  }
}
