:root {
  --kws-peninput-height: 250px;
  --kws-peninput-width: 250px;
  --kws-peninput-controls-height: 2.4rem;
}
.canvas-wrapper {
  margin: 0 auto;
  height: var(--kws-peninput-height);
  width: var(--kws-peninput-width);
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s $easeOutCustom;
  transform-origin: center center;
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: relative;
  .canvas-controls {
    position: absolute;
    width: 100%;
    min-height: var(--kws-peninput-controls-height);
    background: transparentize($grey-light, 0.5);
    padding: 0.25rem;
    margin: 0 auto;
    .control {
      .button {
        &.is-always-rounded {
          border-radius: 1rem !important;
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
    &.is-placement-bottom {
      top: var(--kws-peninput-height);
    }
    &.is-placement-top {
      top: calc(-1 * var(--kws-peninput-controls-height));
    }

    input[type="color"] {
      -webkit-appearance: none;
      border: none;
      width: 32px;
      height: 32px;
      padding: 3px;
      background-color: $white-ter;
    }
    &.is-placement-left,
    &.is-placement-right {
      width: 15%;
      height: 100%;
    }

    &.is-placement-left {
      left: -40px;
    }
    &.is-placement-right {
      right: -40px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
    }
    &.expanded {
      z-index: 999;
      position: relative;
      box-shadow: $card-shadow;
      .canvas-controls {
        background: $grey-lighter;
      }
    }
  }

  .canvas-box {
    position: relative;
    margin: auto auto;
    overflow: hidden;
    img {
      display: block;
    }
    canvas {
      display: block;
      cursor: crosshair;
      box-sizing: border-box;
    }
    &.is-readonly {
      canvas {
        cursor: default;
      }
    }
  }
}
