@use "bulma/sass/utilities/css-variables" as cv;

$background-color: cv.getVar("scheme-main") !default;
$foreground-color: cv.getVar("text") !default;
$axis-lines-color: cv.getVar("border") !default;
$grid-lines-color: cv.getVar("border-weak") !default;

.kws-chart {
  .apexcharts-gridlines-horizontal {
    line {
      stroke: $grid-lines-color !important;
    }
  }
  .apexcharts-xaxis,
  .apexcharts-yaxis {
    line {
      stroke: $axis-lines-color !important;
    }
  }
  .apexcharts-text {
    fill: $foreground-color !important;
  }
  .apexcharts-tooltip {
    display: flex;
    border: 0;
    background: $background-color;
    border-radius: 0;
    .apexcharts-tooltip-title {
      background: $background-color;
      color: $foreground-color;
      border: none;
    }
    .apexcharts-tooltip-series-group.apexcharts-active,
    .apexcharts-tooltip-series-group:last-child {
      padding-bottom: 0;
    }
    .apexcharts-tooltip-marker {
      width: 7px;
      height: 7px;
      margin-right: 5px;
    }
  }
  .apexcharts-tooltip-title {
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 6px;
    text-align: center;
  }

  &.kws-mixed-chart:not(.kws-sparklines),
  &.kws-bar-chart:not(.kws-sparklines),
  &.kws-line-chart:not(.kws-sparklines),
  &.kws-area-chart:not(.kws-sparklines) {
    .apexcharts-tooltip {
      flex-direction: row;
      box-shadow: none;
      background: transparent;
    }
  }
}
