@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mx;

.kws-grid-search {
  .is-in-use {
    border-color: hsla(
      cv.getVar("success-h"),
      cv.getVar("success-s"),
      cv.getVar("success-l"),
      0.5
    );
    box-shadow: 0 0 3px hsla(
      cv.getVar("success-h"),
      cv.getVar("success-s"),
      cv.getVar("success-l"),
      0.23
    ) !important;
    z-index: 2;
  }

  .clear-search {
    .button {
      .icon {
        margin-right: calc(-0.5em - 1px);
      }
    }
  }
}

@include mx.mobile {
  .kws-grid-search {
    .field.outer-level-field {
      flex-wrap: wrap;
      .control {
        margin-bottom: 0.5rem;
      }
      .main-search {
        width: 100%;
        .input {
          border-bottom-right-radius: cv.getVar("radius") !important;
          border-top-right-radius: cv.getVar("radius") !important;
        }
      }
      .search-control {
        max-width: 100% !important;
        width: auto !important;
        flex-grow: 1;
        flex-shrink: 1;
        select {
          width: 100%;
        }
      }
    }
    .field.action-buttons-field {
      width: 100%;
      .clear-search,
      .search-submit {
        .button {
          width: 100%;
        }
      }
      .clear-search {
        .button {
          .icon {
            margin-right: 0.25em;
          }
        }
      }
    }
  }
}
