@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;

$theme-colors: dv.$colors !default;
$color: cv.getVar("border") !default;
$font-size: cv.getVar("size-small") !default;
$gap: 0.25rem !default;
$margin: 1rem !default;

.kws-divider {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: cv.getVar("grey");
  font-size: $font-size;
  font-weight: cv.getVar("weight-semibold");
  letter-spacing: 0.5px;
  margin: $margin 0;
  width: 100%;

  &::after,
  &::before {
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    background-color: $color;
  }

  &:not(.is-right),
  &:not(.is-bottom) {
    &::after {
      margin-left: $gap;
    }
  }

  &:not(.is-left),
  &:not(.is-top) {
    &::before {
      margin-right: $gap;
    }
  }

  &.is-left,
  &.is-top {
    &::before {
      display: none;
    }
  }

  &.is-right,
  &.is-bottom {
    &::after {
      display: none;
    }
  }

  &.is-vertical {
    flex-direction: column;
    margin: 0 $margin;
    height: 100%;
    width: auto;

    &::after,
    &::before {
      height: auto;
      width: 1px;
    }

    &::after {
      margin-left: 0;
      margin-top: $gap;
    }

    &::before {
      margin-right: 0;
      margin-bottom: $gap;
    }
  }

  &:empty {
    &::after,
    &::before {
      margin: 0;
    }
  }

  @each $name, $pair in $theme-colors {
    $color: cv.getVar($name);
    $color-light: cv.getVar($name, "", "-light");
    &.is-#{$name} {
      &::after,
      &::before {
        background-color: $color;
      }
      &.is-light {
        &::after,
        &::before {
          background-color: $color-light;
        }
      }
    }
  }
}
