.file-upload {
  width: 100%;
  .file-upload-inner {
    position: relative;
    background: $input-background-color;
    border: 1px solid $input-border-color;
    border-radius: $radius;
    max-width: 100%;
    height: 2.5rem;
    .file {
      overflow: hidden;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 2rem;
      box-shadow: $input-shadow;
      .filename,
      .upload-progress,
      .progress-caption {
        padding: 0.7rem 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        line-height: 1.3;
        display: flex;
        align-items: center;
      }
      .upload-progress {
        padding: 0;
        height: 100%;
        left: -1px;
        .progress-inner {
          position: relative;
          width: 100%;
          height: 100%;
          .bar {
            border-radius: $radius 0 0 $radius;
            position: relative;
            height: 100%;
            background: $success-light;
            transition: width 0.3s $easeOutCustom;
          }
        }
      }
      .progress-caption {
        text-shadow: none;
        color: $success-dark;
      }
      .filename {
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .up-icon {
      border-radius: 0 $radius $radius 0;
      background: $input-border-color;
      color: $text;
      padding: 0.5rem 0;
      width: 2rem;
      text-align: center;
      position: absolute;
      right: -1px;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 1.4rem;
      }
      .loader {
        margin: 0.2rem auto;
        border-left-color: $text;
        border-bottom-color: $text;
      }
    }
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-light: findLightColor($color);
    $color-dark: findDarkColor($color);
    &.is-#{$name} {
      .file-upload-inner {
        border-color: $color;
        .up-icon {
          background: $color;
          color: $color-invert;
          .loader {
            border-left-color: $color-invert;
            border-bottom-color: $color-invert;
          }
        }
        .upload-progress {
          .progress-inner {
            .bar {
              background: $color-light;
            }
          }
        }
        .progress-caption {
          color: $color-dark;
        }
      }
    }
  }
  &.is-disabled {
    opacity: 0.6;
    .file-upload-inner {
      background: $input-disabled-background-color;
      border-color: $input-disabled-border-color;
      color: $text;
      .up-icon {
        text-shadow: none;
        background: $input-disabled-background-color;
      }
      .file {
        box-shadow: none;
      }
    }
    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      &.is-#{$name} {
        .icon {
          color: $color;
        }
        .loader {
          border-left-color: $color;
          border-bottom-color: $color;
        }
      }
    }
  }

  &.is-small {
    .file-upload-inner {
      font-size: 0.75rem;
      height: 2rem;
    }
    .up-icon {
      width: 1.75rem;
    }
  }
  &.is-medium {
    .file-upload-inner {
      font-size: 1.25rem;
      height: 3rem;
    }
    .up-icon {
      width: 2.5rem;
    }
  }
  &.is-large {
    .file-upload-inner {
      font-size: 1.5rem;
      height: 3.5rem;
    }
    .up-icon {
      width: 3rem;
    }
  }
}
