@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;

$theme-colors: dv.$colors !default;
$progress-bg-color: cv.getVar("success-light") !default;
$progress-text-color: cv.getVar("success-dark") !default;
$progress-easing: linear !default;

.kws-file-upload {
  width: 100%;
  .file-upload-inner {
    position: relative;
    max-width: 100%;
    height: cv.getVar("control-height");
    .file-target {
      overflow: hidden;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 2rem;
      .file-name,
      .upload-progress,
      .progress-caption {
        padding: cv.getVar("control-padding-horizontal")
          cv.getVar("control-padding-vertical");
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        line-height: 1.3;
        display: flex;
        align-items: center;
      }
      .upload-progress {
        padding: 0;
        height: 100%;
        left: -1px;
        .progress-inner {
          position: relative;
          width: 100%;
          height: 100%;
          .bar {
            border-radius: cv.getVar("input-radius") 0 0
              cv.getVar("input-radius");
            position: relative;
            height: 100%;
            background: $progress-bg-color;
            transition: width 0.3s $progress-easing;
          }
        }
      }
      .progress-caption {
        text-shadow: none;
        color: $progress-text-color;
      }
      .filename {
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .up-icon {
      border-radius: 0 cv.getVar("input-radius") cv.getVar("input-radius") 0;
      background: cv.getVar("border");
      color: cv.getVar("text");
      padding: 0.5rem 0;
      width: 2rem;
      text-align: center;
      position: absolute;
      right: -1px;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 1.4rem;
        font-size: 1em;
      }
      .loader {
        margin: 0.2rem auto;
        border-left-color: cv.getVar("text");
        border-bottom-color: cv.getVar("text");
      }
    }
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
  @each $name, $pair in $theme-colors {
    $color: cv.getVar($name);
    $color-invert: cv.getVar($name, "", "-invert");
    $color-light: cv.getVar($name, "", "-light");
    $color-dark: cv.getVar($name, "", "-dark");
    &.is-#{$name} {
      .file-upload-inner {
        .up-icon {
          background: $color;
          color: $color-invert;
          .loader {
            border-left-color: $color-invert;
            border-bottom-color: $color-invert;
          }
        }
        .upload-progress {
          .progress-inner {
            .bar {
              background: $color-light;
            }
          }
        }
        .progress-caption {
          color: $color-dark;
        }
      }
    }
  }
  &.is-disabled {
    opacity: 0.6;
    .file-upload-inner {
      background: cv.getVar("input-disabled-background-color");
      border-color: cv.getVar("input-disabled-border-color");
      color: cv.getVar("input-disabled-color");
      .up-icon {
        text-shadow: none;
        background: cv.getVar("input-disabled-background-color");
      }
      .file {
        box-shadow: none;
      }
    }
    @each $name, $pair in $theme-colors {
      $color: cv.getVar($name);
      &.is-#{$name} {
        .icon {
          color: $color;
        }
        .loader {
          border-left-color: $color;
          border-bottom-color: $color;
        }
      }
    }
  }

  &.is-small {
    .file-target {
      right: 1.75rem;
    }
    .up-icon {
      width: 1.75rem;
    }
  }
  &.is-medium {
    .file-target {
      right: 2.5rem;
    }
    .up-icon {
      width: 2.5rem;
    }
  }
  &.is-large {
    .file-target {
      right: 3rem;
    }
    .up-icon {
      width: 3rem;
    }
  }
}
