@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/functions" as fn;

$kws-theme-colors: dv.$colors !default;
$kws-fileupload-bg-color: #{cv.getVar("background-white")} !default;
$kws-fileupload-border-color: #{cv.getVar("border")} !default;
$kws-fileupload-shadow: #{cv.getVar("shadow-s")} !default;
$kws-fileupload-radius: #{cv.getVar("radius")} !default;
$kws-fileupload-text-color: #{cv.getVar("text")} !default;
$kws-fileupload-disabled-bg-color: #{cv.getVar(
    "input-disabled-background-color"
  )} !default;
$kws-fileupload-disabled-border-color: #{cv.getVar(
    "input-disabled-border-color"
  )} !default;
$kws-fileupload-progress-bg-color: #{cv.getVar("success-light")} !default;
$kws-fileupload-progress-text-color: #{cv.getVar("success-dark")} !default;
$kws-fileupload-progress-anim-easing: linear !default;
@if (variable-exists(#{cv.getVar("easeOutCustom")})) {
  $kws-fileupload-progress-anim-easing: #{cv.getVar("easeOutCustom")} !default;
}

.kws-file-upload {
  width: 100%;
  .file-upload-inner {
    position: relative;
    background: $kws-fileupload-bg-color;
    border: 1px solid $kws-fileupload-border-color;
    border-radius: $kws-fileupload-radius;
    max-width: 100%;
    height: 2.5rem;
    .file {
      overflow: hidden;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 2rem;
      box-shadow: $kws-fileupload-shadow;
      .filename,
      .upload-progress,
      .progress-caption {
        padding: 0.7rem 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        line-height: 1.3;
        display: flex;
        align-items: center;
      }
      .upload-progress {
        padding: 0;
        height: 100%;
        left: -1px;
        .progress-inner {
          position: relative;
          width: 100%;
          height: 100%;
          .bar {
            border-radius: $kws-fileupload-radius 0 0 $kws-fileupload-radius;
            position: relative;
            height: 100%;
            background: $kws-fileupload-progress-bg-color;
            transition: width 0.3s $kws-fileupload-progress-anim-easing;
          }
        }
      }
      .progress-caption {
        text-shadow: none;
        color: $kws-fileupload-progress-text-color;
      }
      .filename {
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .up-icon {
      border-radius: 0 $kws-fileupload-radius $kws-fileupload-radius 0;
      background: $kws-fileupload-border-color;
      color: $kws-fileupload-text-color;
      padding: 0.5rem 0;
      width: 2rem;
      text-align: center;
      position: absolute;
      right: -1px;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 1.4rem;
      }
      .loader {
        margin: 0.2rem auto;
        border-left-color: $kws-fileupload-text-color;
        border-bottom-color: $kws-fileupload-text-color;
      }
    }
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
  @each $name, $pair in $kws-theme-colors {
    $color: nth($pair, 1);
    $color-invert: fn.bulmaFindColorInvert($color);
    $color-light: fn.bulmaFindLightColor($color);
    $color-dark: fn.bulmaFindDarkColor($color);
    &.is-#{$name} {
      .file-upload-inner {
        border-color: $color;
        .up-icon {
          background: $color;
          color: $color-invert;
          .loader {
            border-left-color: $color-invert;
            border-bottom-color: $color-invert;
          }
        }
        .upload-progress {
          .progress-inner {
            .bar {
              background: $color-light;
            }
          }
        }
        .progress-caption {
          color: $color-dark;
        }
      }
    }
  }
  &.is-disabled {
    opacity: 0.6;
    .file-upload-inner {
      background: $kws-fileupload-disabled-bg-color;
      border-color: $kws-fileupload-disabled-border-color;
      color: $kws-fileupload-text-color;
      .up-icon {
        text-shadow: none;
        background: $kws-fileupload-disabled-bg-color;
      }
      .file {
        box-shadow: none;
      }
    }
    @each $name, $pair in $kws-theme-colors {
      $color: nth($pair, 1);
      &.is-#{$name} {
        .icon {
          color: $color;
        }
        .loader {
          border-left-color: $color;
          border-bottom-color: $color;
        }
      }
    }
  }

  &.is-small {
    .file-upload-inner {
      font-size: 0.75rem;
      height: 2rem;
    }
    .up-icon {
      width: 1.75rem;
    }
  }
  &.is-medium {
    .file-upload-inner {
      font-size: 1.25rem;
      height: 3rem;
    }
    .up-icon {
      width: 2.5rem;
    }
  }
  &.is-large {
    .file-upload-inner {
      font-size: 1.5rem;
      height: 3.5rem;
    }
    .up-icon {
      width: 3rem;
    }
  }
}
