$kws-gridview-box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1),
  0 0 0 0.0625rem rgba(0, 0, 0, 0.1) !default;
$kws-gridview-th-background: $table-background-color !default;
$kws-gridview-th-color: $text !default;
$kws-gridview-tag-margin: 0 0.125rem 0.125rem 0 !default;
$kws-gridview-icon-size: 1.5em !default;
$kws-gridview-checked-row-background: $primary-light !default;

.data-table .table {
  box-shadow: $kws-gridview-box-shadow;
  th {
    background: $kws-gridview-th-background;
    color: $kws-gridview-th-color;
    vertical-align: middle;
  }
  &.is-bordered {
    tr {
      th:last-child,
      td:last-child {
        border-right-width: 0px;
      }
      th:first-child,
      td:first-child {
        border-left-width: 0px;
      }
    }
    tr:first-child {
      th,
      td {
        border-top-width: 0px;
      }
    }
  }
  .tag {
    margin: $kws-gridview-tag-margin;
  }
  td.is-icon {
    width: 25px;
    .icon {
      font-size: $kws-gridview-icon-size;
    }
  }
  &.is-hoverable {
    tr {
      cursor: pointer;
    }
  }

  tr.is-checked {
    background-color: $kws-gridview-checked-row-background !important;
    td {
      background-color: $kws-gridview-checked-row-background !important;
    }
  }
}
