$kws-gridview-box-shadow:
  0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1),
  0 0 0 0.0625rem rgba(0, 0, 0, 0.1) !default;
$kws-gridview-th-background: $table-background-color !default;
$kws-gridview-th-color: $text !default;
$kws-gridview-tag-margin: 0 0.125rem 0.125rem 0 !default;
$kws-gridview-icon-size: 1.5em !default;
$kws-gridview-checked-row-background: $info-light !default;

$kws-gridview-active-row-background: $table-row-active-background-color !default;
$kws-gridview-active-row-color: $table-row-active-color !default;

$kws-gridview-background: $table-background-color !default;
$kws-gridview-striped-row-background: $table-striped-row-even-background-color !default;
$kws-gridview-sticky-column-border-color: $border !default;

$kws-gridview-hover-background-color: $table-row-hover-background-color !default;
$kws-gridview-even-row-hover-background-color: $table-striped-row-even-hover-background-color !default;

.table.kws-grid-view {
  box-shadow: $kws-gridview-box-shadow;
  th {
    background: $kws-gridview-th-background;
    color: $kws-gridview-th-color;
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
  &.is-bordered {
    tr {
      th:last-child,
      td:last-child {
        border-right-width: 0px;
      }
      th:first-child,
      td:first-child {
        border-left-width: 0px;
      }
    }
    tr:first-child {
      th,
      td {
        border-top-width: 0px;
      }
    }
  }
  .tag {
    margin: $kws-gridview-tag-margin;
  }
  td.is-icon {
    width: 25px;
    vertical-align: middle;
    .icon {
      font-size: $kws-gridview-icon-size;
    }
  }
  &.is-hoverable {
    tr {
      cursor: pointer;
    }
  }

  tr.is-checked {
    background-color: $kws-gridview-checked-row-background !important;
    td {
      background-color: $kws-gridview-checked-row-background !important;
      color: findColorInvert($kws-gridview-checked-row-background) !important;
    }
  }

  &.is-narrow {
    th {
      font-size: 0.9rem;
      line-height: 1.2;
    }
    td,
    th {
      padding: 0.25rem 0.4rem;
    }
  }
}

.data-table {
  overflow: auto;
}
.kws-sticky-columns-table-wrapper {
  position: relative;
  box-shadow: $kws-gridview-box-shadow;

  .data-table {
    margin-bottom: 1.5rem;
    .table {
      margin-bottom: 0;
    }
  }

  .data-table .table {
    &.is-hoverable {
      tbody {
        tr:not(.is-selected):not(.is-checked):hover {
          td.is-sticky-column {
            background-color: $kws-gridview-hover-background-color;
          }
        }
      }
    }
    &.is-striped {
      tbody {
        tr:not(.is-selected):nth-child(odd) td.is-sticky-column {
          background: $kws-gridview-background;
        }
        tr:not(.is-selected):nth-child(even) td.is-sticky-column {
          background: $kws-gridview-striped-row-background;
        }
        tr.is-selected {
          background-color: transparent;
          td {
            background: $kws-gridview-active-row-background;
            color: $kws-gridview-active-row-color;
          }
        }
      }
      &.is-hoverable {
        tbody {
          tr:not(.is-selected):not(.is-checked):hover {
            td.is-sticky-column {
              background-color: $kws-gridview-hover-background-color;
            }
            &:nth-child(even) {
              td.is-sticky-column {
                background-color: $kws-gridview-even-row-hover-background-color;
              }
            }
          }
        }
      }
    }
    td,
    th {
      &.is-sticky-column {
        position: sticky;
        z-index: 2;
        &:first-child {
          left: 0;
        }
      }
    }
    &.is-bordered {
      td.is-sticky-column,
      th.is-sticky-column {
        box-shadow: inset -1px 0 0 $kws-gridview-sticky-column-border-color;
        border-left-width: 0;
        border-right-width: 0;
      }
    }
  }

  .fake-shadow-contraint {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15px;
    overflow: hidden;
    .fake-inner-shadow {
      position: absolute;
      top: 0;
      right: -1px;
      height: 100%;
      width: 1px;
      box-shadow:
        0 0 6px 0 #000,
        0 0 9px 0 #000,
        0 0 15px 0 #000;
    }

    &.left {
      right: auto;
      left: 0;
      .fake-inner-shadow {
        right: auto;
        left: -1px;
      }
    }
  }
}
