@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/mixins" as mx;

$theme-colors: dv.$colors !default;
$width: 2rem !default;
$height: 2rem !default;
$width-medium: ($width * 1.5) !default;
$height-medium: ($height * 1.5) !default;
$width-large: ($width * 3) !default;
$height-large: ($height * 3) !default;
$color: #ccc !default;
$overlay-background: rgba(0, 0, 0, 0.15) !default;
.kws-loader {
  .hero-body {
    position: relative;
    &:after {
      @include mx.loader();
      border-left-color: $color;
      border-bottom-color: $color;
      position: absolute !important;
      width: $width;
      height: $height;
      left: calc(50% - (#{$width} / 2));
      top: calc(50% - (#{$height} / 2));
    }

    @each $name, $pair in $theme-colors {
      $color: nth($pair, 1);
      &.is-#{$name} {
        &:after {
          border-left-color: $color !important;
          border-bottom-color: $color !important;
        }
      }
    }

    &.is-medium {
      &:after {
        width: $width-medium;
        height: $height-medium;
        left: calc(50% - (#{$width-medium} / 2));
        top: calc(50% - (#{$height-medium} / 2));
      }
    }

    &.is-large {
      &:after {
        width: $width-large;
        height: $height-large;
        left: calc(50% - (#{$width-large} / 2));
        top: calc(50% - (#{$height-large} / 2));
      }
    }
  }
}

.is-overlay {
  z-index: 4;
  .kws-loader {
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background: $overlay-background;
    z-index: 3;
    .hero-body {
      padding: 0;
    }
  }
}
