@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mx;

$item-color: cv.getVar("text") !default;
$item-background: cv.getVar("scheme-main") !default;
$item-border: 1px solid cv.getVar("border") !default;
$item-hover-color: $item-color !default;
$item-hover-border: $item-border !default;
$item-disabled-background: cv.getVar(
  "pagination-disabled-background-color"
) !default;
$item-disabled-color: cv.getVar("pagination-disabled-color") !default;
$item-ellipsis-background: transparent !default;
$item-ellipsis-border-color: transparent !default;
$item-active-background: cv.getVar("success") !default;
$item-active-color: cv.getVar("success-invert") !default;

$frame-box-shadow:
  0 0.125rem 0.1875rem
    rgba(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.1
    ),
  0 0 0 0.0625rem
    rgba(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.1
    ) !default;
$frame-background: linear-gradient(
  cv.getVar("scheme-main"),
  cv.getVar("scheme-main-ter")
) !default;

.pagination {
  &.is-small {
    .pagination-previous,
    .pagination-next,
    .pagination-link,
    .pagination-ellipsis {
      min-height: 1.8rem;
    }
  }
  .pagination-previous,
  .pagination-next {
    padding-left: 0;
    padding-right: 0;
  }
  .pagination-previous,
  .pagination-next,
  .pagination-link,
  .pagination-ellipsis {
    background: $item-background;
    color: $item-color;
    border: $item-border;
    margin: 0;
    border-radius: 0;
    min-height: 100%;
    margin-left: -1px;
    &.is-disabled {
      background: $item-disabled-background;
      color: $item-disabled-color;
    }
    &:hover {
      border: $item-hover-border;
      color: $item-hover-color;
    }
  }
  .pagination-ellipsis {
    background: $item-ellipsis-background;
    border-color: $item-ellipsis-border-color;
  }
  .pagination-link.is-current {
    text-shadow: none;
    color: $item-active-color;
    background: $item-active-background;
    border-color: $item-active-background;
  }
  .pagination-list {
    &.pagination-limit-chooser {
      order: inherit;
    }
  }
}
.pagination_frame.has-frame {
  padding: 0.625rem;
  box-shadow: $frame-box-shadow;
  background: $frame-background;
}

@include mx.mobile {
  .pagination_frame {
    .level {
      justify-content: center;
      flex-direction: column;
      .level-right {
        margin-top: 0;
      }
      .level-left {
        .level-item {
          .pagination {
            flex-direction: column;
          }
        }
      }
    }
    .pagination-showing {
      margin-bottom: 0;
    }
    .pagination {
      .pagination-previous,
      .pagination-next,
      .pagination-link,
      .pagination-ellipsis {
        margin: 0.25rem;
      }
    }
  }
}
