@use "bulma/sass/utilities/css-variables" as cv;

$heading-background: cv.getVar("scheme-main-bis") !default;
$background: cv.getVar("scheme-main") !default;
$box-shadow: cv.getVar("shadow") !default;
$color: cv.getVar("text") !default;
$title-color: cv.getVar("text") !default;
$title-weight: 600 !default;
$caret-open-color: cv.getVar("text") !default;
$caret-closed-color: cv.getVar("link") !default;

.panel {
  background: $background;
  border-radius: none;
  border: none;
  box-shadow: $box-shadow;
  .panel-heading {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: $heading-background;
    .subtitle {
      font-weight: $title-weight;
      color: $title-color;
    }
    .level {
      .level-right {
        .level-item {
          margin-right: 0;
          margin-left: 0.5rem;
        }
      }
    }
  }
  .panel-block {
    border: none;
    padding: 0.9375rem 1.25rem 1.25rem 1.25rem;
    display: block;
    color: $color;
  }

  &.collapsible .panel-heading {
    cursor: pointer;
  }

  .collapsor {
    display: none;
  }
  .collapsor .icon-i {
    transition:
      transform 0.4s,
      color 0.4s;
    transform: rotate(-90deg);
    color: $caret-open-color;

    font-size: 1.5em;
    line-height: 0.9em;
  }

  &.collapsible .collapsor {
    display: inline-block;
    margin: 0 10px 0 20px;
  }

  &.collapsed .collapsor .icon-i {
    transform: rotate(90deg) translate(5px, 0);
    color: $caret-closed-color;
  }

  &.collapsible .panel-content-outer {
    transition: max-height 0.3s;

    max-height: 5000px;
    overflow: hidden;
  }

  &.collapsible.collapsed .panel-content-outer {
    max-height: 0;
  }
}
