@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/functions" as fn;

$theme-colors: dv.$colors !default;
$radius: cv.getVar("radius") !default;
$track-background: cv.getVar("border") !default;
$track-radius: cv.getVar("radius") !default;
$track-border: 0px solid cv.getVar("border") !default;
$track-shadow: cv.getVar("input-shadow") !default;
$thumb-background: cv.getVar("text-invert") !default;
$thumb-radius: cv.getVar("radius-small") !default;
$thumb-border: 1px solid cv.getVar("border") !default;
$thumb-shadow: none !default;
$thumb-to-track-ratio: 2 !default;
$output-width: 3rem !default;
$output-background: cv.getVar("scheme-invert-ter") !default;
$output-color: cv.getVar("text-invert") !default;
$output-radius: cv.getVar("radius-small") !default;

@use "sass:math";

@mixin slider-size($size) {
  $track-height: calc($size / $thumb-to-track-ratio);
  $thumb-size: $size;

  min-height: calc((#{$size} + 2px) * 1.25);

  &::-webkit-slider-runnable-track {
    height: $track-height;
  }
  &::-moz-range-track {
    height: $track-height;
  }
  &::-ms-track {
    height: $track-height;
  }
  &::-webkit-slider-thumb {
    height: $thumb-size;
    width: $thumb-size;
  }
  &::-moz-range-thumb {
    height: $thumb-size;
    width: $thumb-size;
  }
  &::-ms-thumb {
    height: $thumb-size;
    width: $thumb-size;
  }
  &::-ms-thumb {
    margin-top: 0;
  }
  &::-webkit-slider-thumb {
    margin-top: calc($thumb-size / 4 * -1);
  }
}

.kws-range-control {
  position: relative;

  input[type="range"] {
    &.slider {
      appearance: none;
      margin: 1rem 0;
      background: transparent;
      touch-action: none;

      &.is-fullwidth {
        display: block;
        width: 100%;
      }
      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
      }
      &::-moz-range-track {
        width: 100%;
      }
      &::-ms-track {
        width: 100%;
      }
      &.has-output,
      &.has-output-tooltip {
        + output {
          width: $output-width;
          background: $output-background;
          border-radius: $output-radius;
          padding: 0.4rem 0.8rem;
          font-size: cv.getVar("size-7");
          line-height: cv.getVar("size-7");
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $output-color;
          overflow: hidden;
          pointer-events: none;
          z-index: 200;
        }
        &:disabled + output {
          opacity: 0.5;
        }
      }
      &.has-output {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - (#{$output-width + 1.2rem}));

        + output {
          display: inline-block;
          margin-left: 0.75rem;
          vertical-align: middle;
        }
      }
      &.has-output-tooltip {
        display: block;

        + output {
          position: absolute;
          left: 0;
          top: -1.8rem;
          margin: 0;
        }
      }

      &::-webkit-slider-runnable-track {
        cursor: pointer;
        box-shadow: $track-shadow;
        background: $track-background;
        border-radius: $track-radius;
        border: $track-border;
      }
      &::-moz-range-track {
        cursor: pointer;
        box-shadow: $track-shadow;
        background: $track-background;
        border-radius: $track-radius;
        border: $track-border;
      }
      &::-ms-track {
        cursor: pointer;
        box-shadow: $track-shadow;
        background: $track-background;
        border-radius: $track-radius;
        border: $track-border;
      }
      &::-ms-fill-lower {
        background: $track-background;
        border-radius: $radius;
      }
      &::-ms-fill-upper {
        background: $track-background;
        border-radius: $radius;
      }
      &::-webkit-slider-thumb {
        box-shadow: $thumb-shadow;
        border: $thumb-border;
        border-radius: $thumb-radius;
        background: $thumb-background;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        box-shadow: $thumb-shadow;
        border: $thumb-border;
        border-radius: $thumb-radius;
        background: $thumb-background;
        cursor: pointer;
      }
      &::-ms-thumb {
        box-shadow: $thumb-shadow;
        border: $thumb-border;
        border-radius: $thumb-radius;
        background: $thumb-background;
        cursor: pointer;
      }
      &::-webkit-slider-thumb {
        appearance: none;
      }
      &.is-circle {
        &::-webkit-slider-thumb {
          border-radius: cv.getVar("radius-rounded");
        }
        &::-moz-range-thumb {
          border-radius: cv.getVar("radius-rounded");
        }
        &::-ms-thumb {
          border-radius: cv.getVar("radius-rounded");
        }
      }
      &:active {
        &::-webkit-slider-thumb {
          transform: scale(1.25);
        }
        &::-moz-range-thumb {
          transform: scale(1.25);
        }
        &::-ms-thumb {
          transform: scale(1.25);
        }
      }
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &::-webkit-slider-thumb {
          cursor: not-allowed;
          transform: scale(1);
        }
        &::-moz-range-thumb {
          cursor: not-allowed;
          transform: scale(1);
        }
        &::-ms-thumb {
          cursor: not-allowed;
          transform: scale(1);
        }
      }
      @include slider-size(cv.getVar("size-normal"));

      &.is-small {
        @include slider-size(cv.getVar("size-small"));
      }
      &.is-medium {
        @include slider-size(cv.getVar("size-medium"));
      }
      &.is-large {
        @include slider-size(cv.getVar("size-large"));
      }
      @each $name, $pair in $theme-colors {
        $color: cv.getVar($name);
        $color-invert: cv.getVar($name, "", "-invert");
        $color-light: cv.getVar($name, "", "-light");
        $color-dark: cv.getVar($name, "", "-dark");
        &.is-#{$name} {
          &::-moz-range-track {
            background: $color !important;
          }
          &::-webkit-slider-runnable-track {
            background: $color !important;
          }
          &::-ms-track {
            background: $color !important;
          }
          &::-ms-fill-lower {
            background: $color;
          }
          &::-ms-fill-upper {
            background: $color;
          }
          &.has-output,
          &.has-output-tooltip {
            + output {
              background-color: $color-light;
              color: $color-dark;
            }
          }
        }

        &.is-thumb-#{$name} {
          &::-webkit-slider-thumb {
            background: $color !important;
          }
          &::-moz-range-thumb {
            background: $color !important;
          }
          &::-ms-thumb {
            background: $color !important;
          }
        }
      }
    }
  }
}
