$kws-ss-item-selected-bg-color:#0071bc !default;
$kws-ss-item-selected-text-color:#ffffff !default;
$kws-ss-item-selecting-bg-color:#0071bc !default;
$kws-ss-item-selecting-text-color:#ffffff !default;
$kws-ss-dropdown-bg-color: #ffffff !default;
$kws-ss-dropdown-text-color: #333 !default;
$kws-ss-caret-color: #0071bc !default;
.searchableselect {
  flex-wrap: wrap;
  height: auto;
  min-height: 32px;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
  &.is-disabled {
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    color: #7a7a7a;
    cursor: not-allowed;
    &:active,
    &:focus,
    &:hover {
      border: none;
    }
  }

  &.is-shadowless {
    box-shadow: none;
  }

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input {
    flex: 1 1 auto;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    height: 24px;
    max-height: 24px;
    line-height: 24px;
    padding: 3px 8px;
    position: relative;
    vertical-align: top;
    width: 100%;
  }
  .name-wrapper {
    display: block;
    padding-right: 35px;
    overflow: hidden;
    padding-left: 8px;
    .name {
      position: relative;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover:after {
      border-color: #222324;
    }
    &:after {
      border: 1px solid $kws-ss-caret-color;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: 7px;
      pointer-events: none;
      position: absolute;
      transform: rotate(-45deg);
      width: 7px;
      margin-top: -6px;
      right: 16px;
      top: 50%;
    }
  }
  .dropdown {
    margin: 3px 0 0 0; // for user-agent ul styles
    background: #fff;
    color: #333;
    border-radius: 3px;
    padding: 2px 0;
    cursor: default;
    list-style: none;
    z-index: 50;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    max-height: 400px; // decent default
    overflow-y: auto;
    display: block;
    &:not(.open) {
      display: none;
    }
  }
  li {
    padding: 0.3em 0.5em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    &:hover {
      background: lightgrey;
    }
    &.selecting {
      background: lighten($kws-ss-item-selecting-bg-color, 10%);
      color: $kws-ss-item-selecting-text-color;
    }
    &.selected {
      background: lighten($kws-ss-item-selected-bg-color, 10%);
      color: $kws-ss-item-selected-text-color;
      border-top-color: $kws-ss-item-selected-bg-color;
      border-bottom-color: $kws-ss-item-selected-bg-color;
    }
  }
}

#searchableselect-dropdown-container {
  position: absolute;
  z-index: 2000;
  .dropdown {
    position: fixed;
    left: -9999px;
  }
}