$kws-theme-colors: $colors !default;

.searchableselect {
  position: relative;
  align-items: center;
  display: flex;
  cursor: text;
  &:focus-within {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
  }
  .single-value {
    margin-right: 0.25rem;
  }
  &.is-disabled {
    background-color: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
    box-shadow: none;
    color: $input-disabled-color;
    pointer-events: none;
  }
  &.is-readonly {
    box-shadow: none;
  }

  @each $name, $pair in $kws-theme-colors {
    $color: nth($pair, 1);
    &.is-#{$name} {
      border-color: $color;
      &:focus-within {
        box-shadow: $input-focus-box-shadow-size bulmaRgba($color, 0.25);
      }
    }
  }
}
ul.tokens {
  flex-wrap: wrap;
  flex: 1;
  &.tags {
    margin: 0;
  }
}
ul.tokens > li.tag {
  margin: 0.25rem !important;
}

ul.tokens > li button:hover,
button.remove-all:hover {
  color: var(--sms-remove-x-hover-color, lightgray);
}

.searchableselect input {
  border: none !important;
  outline: none !important;
  background: none !important;
  /* needed to hide red shadow around required inputs in some browsers */
  box-shadow: none !important;
  color: var(--sms-text-color, inherit);
  flex: 1;
  width: 1pt;
  padding: 1pt;
  height: auto;
  min-height: 0;
}

ul.options {
  list-style: none;
  max-height: 50vh;
  padding: 0;
  cursor: pointer;
  border-radius: 0 0 $radius $radius;
  overflow: auto;
  background: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
}
ul.options.hidden {
  display: none;
}
ul.options li {
  padding: 0.3em 0.5em;
  &:hover {
    background: lightgrey;
  }
  &.active {
    // keyboard focused item
    color: $white;
    background: lighten($blue, 20%);
  }
  &.selected {
    color: $white;
    background: $blue;
  }
}
