.searchableselect {
  position: relative;
  margin: 1em 0;
  border: var(--sms-border, 1pt solid lightgray);
  border-radius: var(--sms-border-radius, 5pt);
  align-items: center;
  min-height: 18pt;
  display: flex;
  cursor: text;
}
.searchableselect:focus-within {
  border: var(
    --sms-focus-border,
    1pt solid var(--sms-active-color, cornflowerblue)
  );
}
.searchableselect.readonly {
  background: var(--sms-readonly-bg, lightgray);
}
ul.tokens {
  flex-wrap: wrap;
  flex: 1;
  &.tags {
    margin: 0;
  }
}
ul.tokens > li.tag {
  margin: 0.25rem !important;
}

ul.tokens > li button:hover,
button.remove-all:hover {
  color: var(--sms-remove-x-hover-color, lightgray);
}

.searchableselect input {
  border: none;
  outline: none;
  background: none;
  /* needed to hide red shadow around required inputs in some browsers */
  box-shadow: none;
  color: var(--sms-text-color, inherit);
  flex: 1;
  width: 1pt;
}

ul.options {
  list-style: none;
  max-height: 50vh;
  padding: 0;
  cursor: pointer;
  border-radius: 0 0 $radius $radius;
  overflow: auto;
  background: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
}
ul.options.hidden {
  display: none;
}
ul.options li {
  padding: 0.3em 0.5em;
  &:hover {
    background: lightgrey;
  }
  &.active {
    // keyboard focused item
    color: $white;
    background: lighten($blue, 20%);
  }
  &.selected {
    color: $white;
    background: $blue;
  }
}
