@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/functions" as fn;

$kws-theme-colors: dv.$colors !default;
$text: dv.$text !default;
$kws-skeleton-color: lighten($text, 60%) !default;
$kws-skeleton-hilight-color: lighten($text, 65%) !default;

.kws-skeleton {
  width: 100%;
  line-height: 1;
  display: inline-block;
  background-color: $kws-skeleton-color;
  background-image: linear-gradient(
    90deg,
    $kws-skeleton-color,
    $kws-skeleton-hilight-color,
    $kws-skeleton-color
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: kws-skeleton-shine 1.2s infinite;

  @each $name, $pair in $kws-theme-colors {
    $color: nth($pair, 1);
    $color-light: fn.bulmaFindLightColor($color);
    $color-dark: darken($color-light, 10%);
    &.is-#{$name} {
      background-color: $color-light;
      background-image: linear-gradient(
        90deg,
        $color-light,
        $color-dark,
        $color-light
      );
    }
  }

  &.is-transparent {
    background-color: transparent;
    background-image: linear-gradient(
      90deg,
      transparent,
      transparentize($kws-skeleton-hilight-color, 0.6),
      transparent
    );
  }
}

@keyframes kws-skeleton-shine {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
