@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/functions" as fn;

$theme-colors: dv.$colors !default;
$background: cv.getVar("scheme-main-ter") !default;
$text: cv.getVar("text") !default;
$shadow: cv.getVar("shadow") !default;
$radius: cv.getVar("radius") !default;

.flatpickr-calendar.hasTime.noCalendar {
  box-shadow: $shadow;
  background: $background;
  color: $text;
  border-radius: $radius;

  .flatpickr-time {
    border: none;
    .flatpickr-time-separator {
      color: $text;
    }
    input,
    .flatpickr-am-pm {
      font-weight: normal;
      &:focus,
      &:active {
        font-weight: bold;
      }
    }
    .flatpickr-am-pm {
      border-radius: 0 $radius $radius 0;
    }
    .numInputWrapper {
      &:first-child {
        border-radius: $radius 0 0 $radius;
        .numInput {
          border-radius: $radius 0 0 $radius;
        }
      }
      &:hover {
        input,
        .flatpickr-am-pm {
          font-weight: bold;
        }
      }
    }
  }

  @each $name, $pair in $theme-colors {
    $color: cv.getVar($name);
    $color-invert: cv.getVar($name, "", "-invert");
    $color-light: cv.getVar($name, "", "-soft");
    $color-dark: cv.getVar($name, "", "-bold");

    &.is-#{$name} {
      border: 1px solid $color;
      input,
      .flatpickr-am-pm {
        color: $color-dark;
        &:hover,
        &:focus {
          background: $color-light;
        }
      }
      .numInputWrapper {
        &:hover {
          background: $color-light;
        }
        & span.arrowUp:after {
          border-bottom-color: $color-dark;
        }
        & span.arrowDown:after {
          border-top-color: $color-dark;
        }
      }
    }
  }
}
