$kws-theme-colors: $colors !default;
$kws-timepicker-background: $background !default;
$kws-timepicker-text: $text !default;
.flatpickr-calendar.hasTime.noCalendar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 0.0625rem rgba(0, 0, 0, 0.1);
  background: $kws-timepicker-background;
  color: $kws-timepicker-text;
  border-radius: $radius;

  .flatpickr-time {
    border: none;
    .flatpickr-time-separator {
      color: $kws-timepicker-text;
    }
    input,
    .flatpickr-am-pm {
      font-weight: normal;
      &:focus,
      &:active {
        font-weight: bold;
      }
    }
    .flatpickr-am-pm {
      border-radius: 0 $radius $radius 0;
    }
    .numInputWrapper {
      &:first-child {
        border-radius: $radius 0 0 $radius;
        .numInput {
          border-radius: $radius 0 0 $radius;
        }
      }
      &:hover {
        input,
        .flatpickr-am-pm {
          font-weight: bold;
        }
      }
    }
  }

  @each $name, $pair in $kws-theme-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-light: findLightColor($color);
    $color-dark: findDarkColor($color);
    &.is-#{$name} {
      border: 1px solid $color;
      input,
      .flatpickr-am-pm {
        color: $color-dark;
        &:hover,
        &:focus {
          background: $color-light;
        }
      }
      .numInputWrapper {
        &:hover {
          background: $color-light;
        }
        & span.arrowUp:after {
          border-bottom-color: $color-dark;
        }
        & span.arrowDown:after {
          border-top-color: $color-dark;
        }
      }
    }
  }
}
