@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/functions" as fn;

$theme-colors: dv.$colors !default;
$default-color: cv.getVar("grey") !default;
$default-color-invert: cv.getVar("light") !default;

@mixin right-aligned-timeline-item {
  flex-direction: row-reverse;
  .marker {
    right: 0;
    left: auto;
    transform: translateX(50%);
  }
  .content {
    text-align: right;
    padding-left: 0;
    padding-right: 1.75rem;
  }
  &:before {
    right: -0.5px;
    left: auto;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  .marker {
    position: absolute;
    left: 0;
    background: $default-color;
    border: 1px solid $default-color;
    border-radius: 100%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    overflow: hidden;
    &:empty {
      min-height: 1rem;
      min-width: 1rem;
      padding: 0;
      border-width: 4px;
      background: $default-color-invert;
    }
    .icon {
      color: $default-color-invert;
      width: 16px;
      height: 16px;
      font-size: 0.75rem !important;
    }
    .image {
      margin: -0.25rem;
      img {
        border-radius: 100%;
      }
    }
  }
  .content {
    padding-left: 1.75rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 32px;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: iv.$radius;
      box-shadow:
        0 0.125rem 0.1875rem rgba(10, 10, 10, 0.1),
        0 0 0 0.0625rem rgba(10, 10, 10, 0.1);
    }
  }

  &:before {
    content: "";
    background-color: $default-color;
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: -0.5px;
    top: 0;
  }

  @each $name, $pair in $theme-colors {
    $color: nth($pair, 1);
    $color-invert: fn.bulmaFindColorInvert($color); //nth($pair, 2);
    &.is-#{$name} {
      .marker {
        border-color: $color;
        background-color: $color;
        &:empty {
          background-color: $color-invert;
        }
        .icon {
          color: $color-invert;
        }
      }
      &:before {
        background-color: $color;
      }
    }
  }
}

.header {
  width: 4em;
  min-width: 4em;
  word-wrap: normal;
  text-align: center;
  transform: translateX(-25px);
  + .header {
    padding-top: 0.5rem;
  }
}

.kws-timeline {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &.is-center {
    .item {
      width: 50%;
      align-self: flex-end;
      flex-direction: row;
      &:nth-of-type(2n) {
        align-self: flex-start;
        @include right-aligned-timeline-item;
      }
    }
    .header {
      width: 100%;
      transform: none;
    }
  }

  &.is-right {
    justify-content: flex-end;
    align-items: flex-end;
    .item {
      width: 100%;
      align-self: flex-end;
      @include right-aligned-timeline-item;
    }
    .header {
      transform: translateX(25px);
      width: 100%;
      text-align: right;
    }
  }
}
