$kws3-toast-width: 30rem;

.toast-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0.5em;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  &.is-top {
    flex-direction: column;
  }
  &.is-bottom {
    flex-direction: column-reverse;
  }
}

.toast {
  display: inline-flex;
  transform: translate3d(0, 0, 0);
  animation: toast-slide-up 0.4s ease;
  pointer-events: fill;
  margin-bottom: 10px;
  max-width: $kws3-toast-width;
  min-width: $kws3-toast-width;
  width: 100%;
  &.is-top,
  &.is-bottom {
    align-self: center;
  }
  &.is-top-left,
  &.is-bottom-left {
    align-self: flex-start;
  }
  &.is-top-right,
  &.is-bottom-right {
    align-self: flex-end;
  }
  .notification {
    padding: 1.25rem;
    position: relative;
    font-size: 1rem;
    width: 100%;
    .delete {
      transform: scale(1.6);
    }
  }
  .toast-progress {
    background: white;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 0%;
    animation-name: toast-progress-running;
  }
}

@keyframes toast-progress-running {
  0% {
    width: 0%;
  }
  100% {
    width: 96%;
  }
}

@keyframes toast-slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
