$kws-toggle-off-bg-color: #fff !default;
$kws-toggle-handle-bg-color: #fff !default;
$kws-toggle-border-color: #e6e6e6 !default;

.toggle-button{
  position: relative;
  display: inline-block;
  vertical-align:middle;
  pointer-events: auto;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  font-size:1rem;
  .track{
    transition: background-color 0.3s, border 0.3s;
    display: inline-flex;
    align-items: center;
    width: 3.93em;
    height: 2.21em;
    border: solid 2px $kws-toggle-border-color;
    border-radius: 1.428em;
    background-color: $kws-toggle-off-bg-color;
    content: ' ';
    cursor: pointer;
    .toggle-text{
      flex-grow: 1;
      flex-shrink: 0;
      font-weight: bold;
      font-size: 0.642em;
      line-height:1em;
      display:block;
      text-align:right;
      user-select: none;
      margin:0 0.5em;
      color: findColorInvert($kws-toggle-off-bg-color);
    }
    .handle{
      transition: transform 0.3s cubic-bezier(0, 1.1, 1, 1.1);
      position: absolute;
      display: block;
      width: 1.928em;
      height: 1.928em;
      border-radius: 1.928em;
      background-color: $kws-toggle-handle-bg-color;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
    }
  }
  &.on{
    .track{
      border-color: $success;
      background-color: $success;
      .toggle-text{
        left: 10%;
        right:auto;
        text-align:left;
        color: findColorInvert($success)
      }
    }
    .handle{
      transform: translate3d(1.785em, 0, 0);
    }
    @each $name, $pair in $colors{
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);
      &.is-#{$name}{
        .track{
          border-color: $color;
          background-color: $color;
          .toggle-text{
            color: $color-invert
          }
        }
      }
    }
  }
  &.is-small{
    font-size:0.75rem;
  }
  &.is-medium{
    font-size:1.25rem;
  }
  &.is-large{
    font-size:1.5rem;
  }
}