$kws-datepicker-arrow-top-color: $primary !default;
$kws-datepicker-arrow-bottom-color: $primary !default;
$kws-datepicker-month-color: $white !default;
$kws-datepicker-month-bg-color: $primary !default;
$kws-datepicker-month-fill-color: $white !default;
$kws-datepicker-month-boder-radius: 3px 3px 0 0 !default;
$kws-datepicker-weekdays-bg-color: $primary !default;
$kws-datepicker-weekday-bg-color: $primary !default;
$kws-datepicker-weekday-color: $primary-invert !default;
$kws-datepicker-prev-next-hover-color: $dark !default;
$kws-datepicker-prev-next-hover-svg-color: $dark !default;
$kws-datepicker-days-border-radius: 0 0 3px 3px !default;
$kws-datepicker-left-border: 1px solid $primary !default;
$kws-datepicker-right-border: 1px solid $primary !default;
$kws-datepicker-day-bg-color: $primary !default;
$kws-datepicker-day-border-color: $primary !default;
$kws-datepicker-inner-container-border-radius: 3px 3px 0 0 !default;
$kws-datepicker-inner-container-border-bottom-color: 1px solid $primary !default;
.flatpickr-calendar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 0.0625rem rgba(0, 0, 0, 0.1);
  &.arrowTop:before,
  &.arrowTop:after {
    border-bottom-color: $kws-datepicker-arrow-top-color;
  }
  &.arrowBottom:before,
  &.arrowBottom:after {
    border-top-color: $kws-datepicker-arrow-bottom-color;
  }
  .flatpickr-month {
    border-radius: $kws-datepicker-month-boder-radius;
    background: $kws-datepicker-month-bg-color;
    color: $kws-datepicker-month-color;
    fill: $kws-datepicker-month-fill-color;
  }
  .flatpickr-weekdays {
    background: $kws-datepicker-weekdays-bg-color;
  }
  span.flatpickr-weekday {
    background: $kws-datepicker-weekday-bg-color;
    color: $kws-datepicker-weekday-color;
  }
  .flatpickr-prev-month:hover,
  .flatpickr-next-month:hover {
    color: $kws-datepicker-prev-next-hover-color;
  }
  .flatpickr-prev-month:hover svg,
  .flatpickr-next-month:hover svg {
    fill: $kws-datepicker-prev-next-hover-svg-color;
  }
  .flatpickr-days {
    border-radius: $kws-datepicker-days-border-radius;
    border-left: $kws-datepicker-left-border;
    border-right: $kws-datepicker-right-border;
  }
  .flatpickr-day.selected,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange,
  .flatpickr-day.selected.inRange,
  .flatpickr-day.startRange.inRange,
  .flatpickr-day.endRange.inRange,
  .flatpickr-day.selected:focus,
  .flatpickr-day.startRange:focus,
  .flatpickr-day.endRange:focus,
  .flatpickr-day.selected:hover,
  .flatpickr-day.startRange:hover,
  .flatpickr-day.endRange:hover,
  .flatpickr-day.selected.prevMonthDay,
  .flatpickr-day.startRange.prevMonthDay,
  .flatpickr-day.endRange.prevMonthDay,
  .flatpickr-day.selected.nextMonthDay,
  .flatpickr-day.startRange.nextMonthDay,
  .flatpickr-day.endRange.nextMonthDay {
    background: $kws-datepicker-day-bg-color;
    border-color: $kws-datepicker-day-border-color;
  }
  .flatpickr-innerContainer {
    border-radius: 0 0 $radius $radius;
    border-bottom: 1px solid $primary;
  }
  // .flatpickr-time {
  //   border-radius: $radius;
  //   border: 1px solid $primary !important;
  //   input,
  //   .flatpickr-am-pm {
  //     color: $primary;
  //   }
  // }
}