//Primary colors
$info: #1dafec;
$primary: #293b8f;
$danger: #da2128;
$success: #07ae4d;
$warning:#d6cf66;


$dark: #16233e;

$background: #f6f6f7;

//Link colors
$link:#1a77ba;

//other vars
$title-color:$primary;
$title-weight:300;
$subtitle-weight:300;