@forward "bulma/sass/utilities/functions";
@forward "bulma/sass/utilities/initial-variables";

@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/css-variables" as cv;

$primary: #7956ef;
$info: #00aced;
$success: iv.$green;
$warning: rgb(184, 152, 36);
$danger: iv.$red;
$light: #f1f4f9;
$dark: #4a545f;
$link: #0049c5;

$body-font-size: 16px;

$radius-small: 2px;
$radius: 4px;
$radius-medium: 6px;
$radius-large: 8px;

$shadow:
  0 1px 3px
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.12
    ),
  0 1px 2px
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.24
    );
$shadow-high:
  0 19px 38px
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.3
    ),
  0 15px 12px
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.22
    );

$shadow-dark:
  0 1px 5px
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.5
    ),
  0 5px 20px
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.3
    );
$shadow-high-dark:
  0 0 19px 0
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.4
    ),
  0 0 35px 0
    hsla(
      cv.getVar("shadow-h"),
      cv.getVar("shadow-s"),
      cv.getVar("shadow-l"),
      0.5
    );

@forward "bulma/sass/utilities/derived-variables"
  with(
    $primary: $primary,
    $info: $info,
    $success: $success,
    $warning: $warning,
    $danger: $danger,
    $link: $link,
    $light: $light,
    $dark: $dark
  );
@forward "bulma/sass/utilities/controls";
