//fontAwesome
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
//bulma vars and utils
@import "../../node_modules/bulma/sass/utilities/initial-variables";
//our vars (overriding bulma vars)
@import "_variables";
//bulma itself
@import "../../node_modules/bulma/bulma";
html {
  overflow-x: scroll;
}

.main {
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
}

/* SCSS for stories */

/*------------------*/

//searchable select
@import '../../packages/@kws3/searchable-select/styles';

//helpers - Panel
@import '../../packages/@kws3/helpers/components/Panel/styles';

//helpers - Loader
@import '../../packages/@kws3/helpers/components/Loader/styles';

@import "../../node_modules/flatpickr/dist/flatpickr";

//Timepicker
@import '../../packages/@kws3/timepicker/styles';
@import '../../packages/@kws3/datepicker/styles';