//fontAwesome
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//css.gg
@import url("https://cdn.jsdelivr.net/npm/css.gg/icons/all.css");
//iconscout.com/unicons
@import url("https://unicons.iconscout.com/release/v3.0.0/css/line.css");

@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

//bulma vars and utils
@import "../../node_modules/bulma/sass/utilities/initial-variables";
//our vars (overriding bulma vars)
@import "_variables";
//bulma itself
@import "../../node_modules/bulma/bulma";
@import "_steps.sass";
html {
  overflow-x: scroll;
}

p {
  margin: 0.5rem 0;
}

pre.prismjs > code {
  font-size: 1.1em;
  .tag,
  .number {
    padding: unset;
    display: inline;
    height: auto;
    min-width: unset;
    background: inherit;
    white-space: inherit;
    line-height: inherit;
    font-size: inherit;
    border: none;
    margin: inherit;
    vertical-align: inherit;
    text-align: inherit;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bounce-proportional {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -100%, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -50%, 0);
  }

  90% {
    transform: translate3d(0, -13%, 0);
  }
}

.is-shaking {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: shake;
}

.is-bouncing-once {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: bounce-proportional;
}

/*pre:not([class*="language-"]) {
  visibility: hidden;
}*/

//PRISM JS
//@import "../../node_modules/prismjs/themes/prism-tomorrow.css";
/* SCSS for stories */

// /*------------------*/

// //Transitions
// @import '../../packages/@kws3/transitions/styles.scss';
// //searchable select
@import "../../packages/@kws3/ui/styles/Select.scss";
// //auto complete
@import "../../packages/@kws3/ui/styles/AutoComplete.scss";
// //helpers - Panel
@import "../../packages/@kws3/ui/styles/Panel.scss";
// //helpers - Loader
@import "../../packages/@kws3/ui/styles/Loader.scss";
// //helpers - Skeleton
@import "../../packages/@kws3/ui/styles/Skeleton.scss";
// //helpers - Divider
@import "../../packages/@kws3/ui/styles/Divider.scss";
// //helpers - Modal
// @import '../../packages/@kws3/helpers/components/Modal/styles.scss';

// //Calendar
// @import '../../packages/@kws3/calendar/styles.scss';
// //grid
// @import '../../packages/@kws3/datagrid/components/GridView/styles.scss';
// //pagination
// @import '../../packages/@kws3/datagrid/components/Pagination/styles.scss';
// //colorpicker
// @import '../../packages/@kws3/colorpicker/styles.scss';
// //Buttons - Toggle
@import "../../packages/@kws3/ui/styles/Toggle.scss";
// @import '../../packages/@kws3/controls/components/ToggleButtons/styles.scss';
// @import '../../packages/@kws3/controls/components/ToggleControl/styles.scss';

// CheckRadio
@import "../../packages/@kws3/ui/styles/CheckRadio.scss";

// FileUpload
@import "../../packages/@kws3/ui/styles/FileUpload.scss";

// sliding panes
@import "../../packages/@kws3/ui/styles/SlidingPane.scss";

// RangeSlider
@import "../../packages/@kws3/ui/styles/RangeSlider.scss";

// Flatpickr
@import "../../node_modules/flatpickr/dist/flatpickr";

// Datepicker
@import "../../packages/@kws3/ui/styles/Datepicker.scss";

// Timepicker
@import "../../packages/@kws3/ui/styles/Timepicker.scss";

// Colorpicker
@import "../../packages/@kws3/ui/styles/Colorpicker.scss";

//ActionSheet
@import "../../packages/@kws3/ui/styles/ActionSheet.scss";

// FloatingUI
@import "../../packages/@kws3/ui/styles/FloatingUI.scss";

//Pagination
@import "../../packages/@kws3/ui/styles/Pagination.scss";

//Tooltip
@import "../../packages/@kws3/ui/styles/Tooltip.scss";

//Timeline
@import "../../packages/@kws3/ui/styles/Timeline.scss";

//Grid
@import "../../packages/@kws3/ui/styles/Grid.scss";

//DataSort
@import "../../packages/@kws3/ui/styles/DataSort.scss";

//DataSearch
@import "../../packages/@kws3/ui/styles/DataSearch.scss";

//Charts
@import "../../packages/@kws3/ui/styles/Chart.scss";

.theme-kws-light {
  color: #4a4a4a;
  background-color: #ffffff;
  pre {
    background-color: #f6f6f7;
    color: #4a4a4a;
  }
}

.theme-kws-dark {
  color: #f8f8f8;
  background-color: #333333;
  .title {
    color: #f8f8f8;
  }
  .subtitle {
    color: #f8f8f8;
  }
  .sbdocs > .sb-nodocs > div {
    background: #f8f8f8 !important;
    color: #333333;
  }
  .sbdocs-wrapper {
    background: #333333;
  }
  .sbdocs-h1,
  .sbdocs-h2,
  .sbdocs-h3,
  .sbdocs-h4,
  .sbdocs-h5,
  .sbdocs-h6,
  strong {
    color: #f8f8f8;
  }
  .docblock-argstable {
    background: #f8f8f8;
  }
}

.sbdocs-content {
  position: relative;
}
.page-top-right-artifacts {
  position: absolute;
  margin: 0 !important;
  padding: 0.75rem;
  border-radius: 0 0 $radius $radius;
  background: linear-gradient(180deg, #f4f4f4 0%, #f6f9fc 4%, #fcfdfd 35%);
  top: -4rem;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  .artifact-item-block {
    display: flex;
    flex-direction: row;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  .artifact-item:not(:last-child) {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid #ebebeb;
  }
}

.datagrid-example {
  .box.is-selected {
    background-color: $primary;
    color: #fff;
  }
}
.searchinput-examples {
  span.h {
    font-weight: 700;
    color: currentColor;
    background: transparent;
  }
}
