//fontAwesome
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
//css.gg
@import url('https://cdn.jsdelivr.net/npm/css.gg/icons/all.css');
//iconscout.com/unicons
@import url('https://unicons.iconscout.com/release/v3.0.0/css/line.css');

//bulma vars and utils
@import "../../node_modules/bulma/sass/utilities/initial-variables";
//our vars (overriding bulma vars)
@import "_variables";
//bulma itself
@import "../../node_modules/bulma/bulma";

html {
  overflow-x: scroll;
}

p {
  margin: 0.5rem 0;
}

pre.prismjs>code {
  font-size: 1.1em;
  .tag,
  .number {
    padding: unset;
    display: inline;
    height:auto;
    min-width:unset;
    background: inherit;
    white-space: inherit;
    line-height: inherit;
    font-size: inherit;
    border: none;
    margin: inherit;
    vertical-align: inherit;
    text-align: inherit;
  }
}


/*pre:not([class*="language-"]) {
  visibility: hidden;
}*/


//PRISM JS
//@import "../../node_modules/prismjs/themes/prism-tomorrow.css";
/* SCSS for stories */

// /*------------------*/

// //Transitions
// @import '../../packages/@kws3/transitions/styles.scss';
// //searchable select
// @import '../../packages/@kws3/searchable-select/styles.scss';
// //helpers - Panel
 @import '../../packages/@kws3/ui/helpers/components/Panel/styles.scss';
// //helpers - Loader
@import '../../packages/@kws3/ui/helpers/components/Loader/styles.scss';
// //helpers - Modal
// @import '../../packages/@kws3/helpers/components/Modal/styles.scss';

// @import "../../node_modules/flatpickr/dist/flatpickr";
// //Timepicker
// @import '../../packages/@kws3/timepicker/styles.scss';
// @import '../../packages/@kws3/datepicker/styles.scss';
// //Calendar
// @import '../../packages/@kws3/calendar/styles.scss';
// //grid
// @import '../../packages/@kws3/datagrid/components/GridView/styles.scss';
// //pagination
// @import '../../packages/@kws3/datagrid/components/Pagination/styles.scss';
// //colorpicker
// @import '../../packages/@kws3/colorpicker/styles.scss';
// //Buttons - Toggle
@import '../../packages/@kws3/ui/controls/components/Toggle/styles/Toggle.scss';
// @import '../../packages/@kws3/controls/components/ToggleButtons/styles.scss';
// @import '../../packages/@kws3/controls/components/ToggleControl/styles.scss';
@import '../../packages/@kws3/ui/controls/components/Checkbox/styles/Checkbox.scss';
@import '../../packages/@kws3/ui/controls/components/Radio/styles/Radio.scss';
@import '../../packages/@kws3/ui/controls/components/FileUpload/styles/FileUpload.scss';


// //sliding panes
// @import '../../packages/@kws3/sliding-panes/styles.scss';


// #stepsHolder{
//   padding-top: 1.2rem;
//   overflow: auto;
// }
// .steps{
//   font-size: 0.9rem;
//   .steps-segment{
//     cursor: pointer;
//     .steps-marker{
//       transform: scale(0.9);
//       transition: transform 0.3s $easeOutCustom;
//     }
//     &.is-active{
//       .steps-marker{
//         transform: scale(1.5);
//         border:2px solid $primary !important;
//         background: $white !important;
//         color: $text !important;
//       }
//       & ~ .steps-segment{
//         cursor: default;
//         .steps-marker{
//           transform: scale(1);
//         }
//       }
//     }
//   }
// }

// @include mobile{
//   .steps.is-horizontal.has-content-centered{
//     .steps-segment{
//       &:not(:last-child):after {
//         height: 0.2em;
//         left: 2.5rem;
//         right: -1.75rem;
//         top: calc(0.75rem - (0.1em));
//       }
//       .steps-marker {
//         position: absolute;
//         left: calc(50% - 0.75rem);
//         height: 1.5rem;
//         width: 1.5rem;
//         font-size: 0.75rem;
//         transition: transform 0.3s;
//       }
//       .steps-content {
//         margin-top: 2rem;
//         margin-left: .5em;
//         margin-right: .5em;
//         padding-top: .2em;
//         font-size:0.75rem;
//         line-height:1.2;
//       }
//     }
//   }
// }

.theme-kws-light{
  color:#4a4a4a;
  background-color: #FFFFFF;
  pre{
    background-color: #f6f6f7;
    color:#4a4a4a;
  }
}

.theme-kws-dark{
  color:#F8F8F8;
  background-color: #333333;
  .title {
    color: #F8F8F8;
  }
  .subtitle {
    color: #F8F8F8;
  }
  .sbdocs > .sb-nodocs > div{
    background:#F8F8F8 !important;
    color: #333333;
  }
  .sbdocs-wrapper{
    background:#333333;
  }
  .sbdocs-h1, .sbdocs-h2, .sbdocs-h3, .sbdocs-h4, .sbdocs-h5, .sbdocs-h6, strong{
    color: #F8F8F8;
  }
  .docblock-argstable{
    background: #F8F8F8;
  }
}