.togglebox{
  display:flex;
  align-items: center;
  min-height:40px;
  padding-top:14px;
  max-height:50px;
  .label{
    flex:1;
    line-height: 1;
  }
  .toggle-button, .toggle-buttons{
    flex:none;
    margin-top:5px;
  }
  .toggle-buttons{
    margin-top: - 5px;
  }
}