.togglebox{
  display:flex;
  align-items: center;
  min-height:40px;
  padding-top:0.75rem;
  .label{
    flex:1;
    line-height: 1;
    margin-bottom: 0;
  }
  .toggle-button, .toggle-buttons{
    flex:none;
    margin-left:0.5rem;
  }
}